body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1545px;
  height:793px;
}
#u18308 {
  position:absolute;
  left:29px;
  top:22px;
  width:1545px;
  height:793px;
}
#u18309 {
  position:absolute;
  left:2px;
  top:388px;
  width:1541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18310 {
  position:absolute;
  left:1224px;
  top:225px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u18311 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u18312 {
  position:absolute;
  left:1230px;
  top:367px;
  width:30px;
  height:22px;
}
#u18313 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u18314 {
  position:absolute;
  left:1230px;
  top:471px;
  width:30px;
  height:22px;
}
#u18315 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u18316 {
  position:absolute;
  left:1230px;
  top:574px;
  width:30px;
  height:22px;
}
#u18317 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u18318 {
  position:absolute;
  left:1254px;
  top:395px;
  width:401px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u18319 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
