body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1273px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:2px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:2px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:16px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:874px;
  height:16px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:592px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:874px;
  height:592px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:0px;
  width:400px;
  height:2px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:2px;
  width:400px;
  height:16px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:592px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:18px;
  width:400px;
  height:592px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:175px;
  width:80px;
  height:31px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
