body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6960 {
  position:absolute;
  left:442px;
  top:69px;
  width:100px;
  height:60px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6962 {
  position:absolute;
  left:442px;
  top:179px;
  width:100px;
  height:60px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6964 {
  position:absolute;
  left:442px;
  top:285px;
  width:100px;
  height:60px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:84px;
}
#u6966 {
  position:absolute;
  left:580px;
  top:274px;
  width:237px;
  height:83px;
  text-align:left;
}
#u6967 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u6968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6968 {
  position:absolute;
  left:442px;
  top:394px;
  width:100px;
  height:60px;
}
#u6969 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6970 {
  position:absolute;
  left:442px;
  top:494px;
  width:100px;
  height:60px;
}
#u6971 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6972 {
  position:absolute;
  left:442px;
  top:721px;
  width:100px;
  height:60px;
}
#u6973 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6974 {
  position:absolute;
  left:587px;
  top:827px;
  width:100px;
  height:60px;
}
#u6975 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6976 {
  position:absolute;
  left:442px;
  top:945px;
  width:100px;
  height:60px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6978 {
  position:absolute;
  left:542px;
  top:751px;
  width:0px;
  height:0px;
}
#u6978_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u6978_seg1 {
  position:absolute;
  left:91px;
  top:-4px;
  width:8px;
  height:80px;
}
#u6978_seg2 {
  position:absolute;
  left:85px;
  top:63px;
  width:20px;
  height:20px;
}
#u6979 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6980 {
  position:absolute;
  left:721px;
  top:827px;
  width:100px;
  height:60px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6982 {
  position:absolute;
  left:587px;
  top:494px;
  width:100px;
  height:60px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6984 {
  position:absolute;
  left:492px;
  top:129px;
  width:0px;
  height:0px;
}
#u6984_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u6984_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u6985 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986 {
  position:absolute;
  left:492px;
  top:239px;
  width:0px;
  height:0px;
}
#u6986_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u6986_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u6987 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988 {
  position:absolute;
  left:492px;
  top:345px;
  width:0px;
  height:0px;
}
#u6988_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u6988_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u6989 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990 {
  position:absolute;
  left:492px;
  top:454px;
  width:0px;
  height:0px;
}
#u6990_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6990_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u6991 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992 {
  position:absolute;
  left:542px;
  top:524px;
  width:0px;
  height:0px;
}
#u6992_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u6992_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6993 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6994 {
  position:absolute;
  left:492px;
  top:663px;
  width:0px;
  height:0px;
}
#u6994_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u6994_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u6995 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:184px;
}
#u6996 {
  position:absolute;
  left:721px;
  top:433px;
  width:237px;
  height:183px;
  text-align:left;
}
#u6997 {
  position:absolute;
  left:2px;
  top:12px;
  width:233px;
  word-wrap:break-word;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6998 {
  position:absolute;
  left:442px;
  top:827px;
  width:100px;
  height:60px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7000 {
  position:absolute;
  left:442px;
  top:603px;
  width:100px;
  height:60px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7002 {
  position:absolute;
  left:296px;
  top:603px;
  width:100px;
  height:60px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:84px;
}
#u7004 {
  position:absolute;
  left:17px;
  top:592px;
  width:237px;
  height:83px;
  text-align:left;
}
#u7005 {
  position:absolute;
  left:2px;
  top:26px;
  width:233px;
  word-wrap:break-word;
}
#u7006 {
  position:absolute;
  left:492px;
  top:554px;
  width:0px;
  height:0px;
}
#u7006_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u7006_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u7007 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u7008 {
  position:absolute;
  left:492px;
  top:781px;
  width:0px;
  height:0px;
}
#u7008_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u7008_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u7009 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u7010 {
  position:absolute;
  left:492px;
  top:887px;
  width:0px;
  height:0px;
}
#u7010_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u7010_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u7011 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012 {
  position:absolute;
  left:442px;
  top:633px;
  width:0px;
  height:0px;
}
#u7012_seg0 {
  position:absolute;
  left:-46px;
  top:-4px;
  width:50px;
  height:8px;
}
#u7012_seg1 {
  position:absolute;
  left:-53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7013 {
  position:absolute;
  left:-73px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
