body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3520 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:140px;
  width:216px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3521 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:229px;
  width:324px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3522 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:268px;
  width:667px;
  height:377px;
  display:flex;
}
#u3522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:416px;
  width:72px;
  height:57px;
  display:flex;
}
#u3524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3525 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:481px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3527 {
  border-width:0px;
  position:absolute;
  left:1471px;
  top:351px;
  width:72px;
  height:57px;
  display:flex;
}
#u3527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3528 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:416px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u3529 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:368px;
  width:20px;
  height:24px;
  display:flex;
}
#u3529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:1585px;
  top:281px;
  width:62px;
  height:62px;
  display:flex;
}
#u3530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:377px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:268px;
  width:667px;
  height:377px;
  display:flex;
  opacity:0.4;
}
#u3531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3532 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:424px;
  width:70px;
  height:70px;
  display:flex;
}
#u3532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3533 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:225px;
  width:144px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:167px;
}
#u3534 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:478px;
  width:122px;
  height:167px;
  display:flex;
  font-size:18px;
}
#u3534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3535 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:457px;
  width:0px;
  height:0px;
}
#u3535_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:182px;
  height:10px;
}
#u3535_seg1 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3535_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3538 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:268px;
  width:667px;
  height:377px;
  display:flex;
}
#u3538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3539 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:562px;
  width:92px;
  height:52px;
  display:flex;
}
#u3539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:489px;
  width:92px;
  height:52px;
  display:flex;
}
#u3540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:405px;
  width:92px;
  height:52px;
  display:flex;
}
#u3541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:301px;
  width:92px;
  height:52px;
  display:flex;
}
#u3542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:316px;
  width:92px;
  height:52px;
  display:flex;
}
#u3543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:588px;
  width:0px;
  height:0px;
}
#u3544_seg0 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:-5px;
  width:208px;
  height:10px;
}
#u3544_seg1 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:-47px;
  width:10px;
  height:52px;
}
#u3544_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-55px;
  width:20px;
  height:20px;
}
#u3544_text {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3545 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:489px;
  width:0px;
  height:0px;
}
#u3545_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-24px;
  width:10px;
  height:24px;
}
#u3545_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-24px;
  width:168px;
  height:10px;
}
#u3545_seg2 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:-24px;
  width:10px;
  height:13px;
}
#u3545_seg3 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:-21px;
  width:31px;
  height:10px;
}
#u3545_seg4 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-32px;
  width:10px;
  height:21px;
}
#u3545_seg5 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-40px;
  width:20px;
  height:20px;
}
#u3545_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3546 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:405px;
  width:0px;
  height:0px;
}
#u3546_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-16px;
  width:10px;
  height:16px;
}
#u3546_seg1 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:-16px;
  width:211px;
  height:10px;
}
#u3546_seg2 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:-52px;
  width:10px;
  height:46px;
}
#u3546_seg3 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:-60px;
  width:20px;
  height:20px;
}
#u3546_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:327px;
  width:0px;
  height:0px;
}
#u3547_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:259px;
  height:10px;
}
#u3547_seg1 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:-5px;
  width:10px;
  height:25px;
}
#u3547_seg2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:10px;
  width:23px;
  height:10px;
}
#u3547_seg3 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:5px;
  width:20px;
  height:20px;
}
#u3547_text {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:301px;
  width:92px;
  height:52px;
  display:flex;
  opacity:0.3;
}
#u3548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u3549 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:316px;
  width:92px;
  height:52px;
  display:flex;
  opacity:0.3;
}
#u3549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u3550 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:502px;
  width:21px;
  height:26px;
  display:flex;
}
#u3550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u3551 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:418px;
  width:21px;
  height:26px;
  display:flex;
}
#u3551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:314px;
  width:21px;
  height:26px;
  display:flex;
}
#u3552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:329px;
  width:21px;
  height:26px;
  display:flex;
}
#u3553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:41px;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:357px;
  width:30px;
  height:41px;
  display:flex;
  font-size:14px;
}
#u3554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:281px;
  width:32px;
  height:32px;
  display:flex;
}
#u3555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:596px;
  width:21px;
  height:20px;
  display:flex;
}
#u3556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:599px;
  width:21px;
  height:20px;
  display:flex;
}
#u3557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:596px;
  width:21px;
  height:20px;
  display:flex;
}
#u3558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:525px;
  width:21px;
  height:20px;
  display:flex;
}
#u3559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:528px;
  width:21px;
  height:20px;
  display:flex;
}
#u3560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:525px;
  width:21px;
  height:20px;
  display:flex;
}
#u3561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:438px;
  width:21px;
  height:20px;
  display:flex;
}
#u3562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:441px;
  width:21px;
  height:20px;
  display:flex;
}
#u3563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:438px;
  width:21px;
  height:20px;
  display:flex;
}
#u3564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:281px;
  width:22px;
  height:21px;
  display:flex;
}
#u3565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:281px;
  width:12px;
  height:23px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:377px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:268px;
  width:667px;
  height:377px;
  display:flex;
  opacity:0.4;
}
#u3567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:231px;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:361px;
  width:300px;
  height:231px;
  display:flex;
}
#u3569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 56.2142857142857px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:411px;
  width:256px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u3570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:490px;
  width:96px;
  height:40px;
  display:flex;
}
#u3571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:167px;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:452px;
  width:122px;
  height:167px;
  display:flex;
  font-size:18px;
}
#u3572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
