body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:889px;
}
#u19233 {
  position:absolute;
  left:74px;
  top:29px;
  width:882px;
  height:889px;
}
#u19234 {
  position:absolute;
  left:2px;
  top:436px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19235 {
  position:absolute;
  left:586px;
  top:337px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u19236 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u19238 {
  position:absolute;
  left:600px;
  top:596px;
  width:30px;
  height:22px;
}
#u19239 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u19240 {
  position:absolute;
  left:600px;
  top:705px;
  width:30px;
  height:22px;
}
#u19241 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u19242 {
  position:absolute;
  left:600px;
  top:814px;
  width:30px;
  height:22px;
}
#u19243 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19244 {
  position:absolute;
  left:1009px;
  top:591px;
  width:816px;
  height:141px;
}
#u19245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19245 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19246 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19247 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u19248 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19249 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
}
#u19250 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19251 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
}
#u19252 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19253 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u19254 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:36px;
}
#u19255 {
  position:absolute;
  left:500px;
  top:0px;
  width:214px;
  height:36px;
}
#u19256 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u19257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u19257 {
  position:absolute;
  left:714px;
  top:0px;
  width:97px;
  height:36px;
}
#u19258 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u19259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19259 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:50px;
}
#u19260 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19261 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:50px;
}
#u19262 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19263 {
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:50px;
}
#u19264 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19265 {
  position:absolute;
  left:300px;
  top:36px;
  width:100px;
  height:50px;
}
#u19266 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19267 {
  position:absolute;
  left:400px;
  top:36px;
  width:100px;
  height:50px;
}
#u19268 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u19269 {
  position:absolute;
  left:500px;
  top:36px;
  width:214px;
  height:50px;
}
#u19270 {
  position:absolute;
  left:2px;
  top:17px;
  width:210px;
  word-wrap:break-word;
}
#u19271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u19271 {
  position:absolute;
  left:714px;
  top:36px;
  width:97px;
  height:50px;
}
#u19272 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19273 {
  position:absolute;
  left:0px;
  top:86px;
  width:100px;
  height:50px;
}
#u19274 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19275 {
  position:absolute;
  left:100px;
  top:86px;
  width:100px;
  height:50px;
}
#u19276 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19277 {
  position:absolute;
  left:200px;
  top:86px;
  width:100px;
  height:50px;
}
#u19278 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19279 {
  position:absolute;
  left:300px;
  top:86px;
  width:100px;
  height:50px;
}
#u19280 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u19281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19281 {
  position:absolute;
  left:400px;
  top:86px;
  width:100px;
  height:50px;
}
#u19282 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u19283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u19283 {
  position:absolute;
  left:500px;
  top:86px;
  width:214px;
  height:50px;
}
#u19284 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u19285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u19285 {
  position:absolute;
  left:714px;
  top:86px;
  width:97px;
  height:50px;
}
#u19286 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19287_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u19287 {
  position:absolute;
  left:600px;
  top:297px;
  width:30px;
  height:40px;
}
#u19288 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u19289_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u19289 {
  position:absolute;
  left:600px;
  top:666px;
  width:30px;
  height:40px;
}
#u19290 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u19291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:464px;
}
#u19292 {
  position:absolute;
  left:39px;
  top:218px;
  width:604px;
  height:464px;
}
#u19293 {
  position:absolute;
  left:2px;
  top:224px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19294 {
  position:absolute;
  left:553px;
  top:609px;
  width:77px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19295 {
  position:absolute;
  left:586px;
  top:223px;
  width:51px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
