body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:889px;
}
#u18252 {
  position:absolute;
  left:74px;
  top:29px;
  width:882px;
  height:889px;
}
#u18253 {
  position:absolute;
  left:2px;
  top:436px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18254 {
  position:absolute;
  left:586px;
  top:337px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u18255 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u18257 {
  position:absolute;
  left:600px;
  top:596px;
  width:30px;
  height:22px;
}
#u18258 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u18259 {
  position:absolute;
  left:600px;
  top:705px;
  width:30px;
  height:22px;
}
#u18260 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u18261 {
  position:absolute;
  left:600px;
  top:814px;
  width:30px;
  height:22px;
}
#u18262 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18263 {
  position:absolute;
  left:1009px;
  top:591px;
  width:816px;
  height:141px;
}
#u18264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18264 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18265 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18266 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u18267 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18268 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
}
#u18269 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18270 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
}
#u18271 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u18272 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u18273 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u18274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:36px;
}
#u18274 {
  position:absolute;
  left:500px;
  top:0px;
  width:214px;
  height:36px;
}
#u18275 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u18276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u18276 {
  position:absolute;
  left:714px;
  top:0px;
  width:97px;
  height:36px;
}
#u18277 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u18278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18278 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:50px;
}
#u18279 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18280 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:50px;
}
#u18281 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18282 {
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:50px;
}
#u18283 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18284 {
  position:absolute;
  left:300px;
  top:36px;
  width:100px;
  height:50px;
}
#u18285 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18286 {
  position:absolute;
  left:400px;
  top:36px;
  width:100px;
  height:50px;
}
#u18287 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u18288 {
  position:absolute;
  left:500px;
  top:36px;
  width:214px;
  height:50px;
}
#u18289 {
  position:absolute;
  left:2px;
  top:17px;
  width:210px;
  word-wrap:break-word;
}
#u18290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u18290 {
  position:absolute;
  left:714px;
  top:36px;
  width:97px;
  height:50px;
}
#u18291 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18292 {
  position:absolute;
  left:0px;
  top:86px;
  width:100px;
  height:50px;
}
#u18293 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18294 {
  position:absolute;
  left:100px;
  top:86px;
  width:100px;
  height:50px;
}
#u18295 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18296 {
  position:absolute;
  left:200px;
  top:86px;
  width:100px;
  height:50px;
}
#u18297 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18298 {
  position:absolute;
  left:300px;
  top:86px;
  width:100px;
  height:50px;
}
#u18299 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u18300 {
  position:absolute;
  left:400px;
  top:86px;
  width:100px;
  height:50px;
}
#u18301 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u18302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u18302 {
  position:absolute;
  left:500px;
  top:86px;
  width:214px;
  height:50px;
}
#u18303 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u18304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u18304 {
  position:absolute;
  left:714px;
  top:86px;
  width:97px;
  height:50px;
}
#u18305 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18306_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u18306 {
  position:absolute;
  left:600px;
  top:297px;
  width:30px;
  height:40px;
}
#u18307 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u18308_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u18308 {
  position:absolute;
  left:600px;
  top:666px;
  width:30px;
  height:40px;
}
#u18309 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u18310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:464px;
}
#u18311 {
  position:absolute;
  left:39px;
  top:218px;
  width:604px;
  height:464px;
}
#u18312 {
  position:absolute;
  left:2px;
  top:224px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18313 {
  position:absolute;
  left:553px;
  top:609px;
  width:77px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18314 {
  position:absolute;
  left:586px;
  top:223px;
  width:51px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
