body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:889px;
}
#u7045 {
  position:absolute;
  left:74px;
  top:29px;
  width:882px;
  height:889px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:436px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7047 {
  position:absolute;
  left:586px;
  top:337px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u7050 {
  position:absolute;
  left:600px;
  top:596px;
  width:30px;
  height:22px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u7052 {
  position:absolute;
  left:600px;
  top:705px;
  width:30px;
  height:22px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u7054 {
  position:absolute;
  left:600px;
  top:814px;
  width:30px;
  height:22px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056 {
  position:absolute;
  left:1009px;
  top:591px;
  width:816px;
  height:141px;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7058 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7059 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7061 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
}
#u7062 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7063 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
}
#u7064 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7065 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u7066 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:36px;
}
#u7067 {
  position:absolute;
  left:500px;
  top:0px;
  width:214px;
  height:36px;
}
#u7068 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u7069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7069 {
  position:absolute;
  left:714px;
  top:0px;
  width:97px;
  height:36px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7071 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:50px;
}
#u7072 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7073 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:50px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7075 {
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:50px;
}
#u7076 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7077 {
  position:absolute;
  left:300px;
  top:36px;
  width:100px;
  height:50px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7079 {
  position:absolute;
  left:400px;
  top:36px;
  width:100px;
  height:50px;
}
#u7080 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u7081 {
  position:absolute;
  left:500px;
  top:36px;
  width:214px;
  height:50px;
}
#u7082 {
  position:absolute;
  left:2px;
  top:17px;
  width:210px;
  word-wrap:break-word;
}
#u7083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u7083 {
  position:absolute;
  left:714px;
  top:36px;
  width:97px;
  height:50px;
}
#u7084 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7085 {
  position:absolute;
  left:0px;
  top:86px;
  width:100px;
  height:50px;
}
#u7086 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7087 {
  position:absolute;
  left:100px;
  top:86px;
  width:100px;
  height:50px;
}
#u7088 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7089 {
  position:absolute;
  left:200px;
  top:86px;
  width:100px;
  height:50px;
}
#u7090 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7091 {
  position:absolute;
  left:300px;
  top:86px;
  width:100px;
  height:50px;
}
#u7092 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u7093 {
  position:absolute;
  left:400px;
  top:86px;
  width:100px;
  height:50px;
}
#u7094 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u7095 {
  position:absolute;
  left:500px;
  top:86px;
  width:214px;
  height:50px;
}
#u7096 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u7097 {
  position:absolute;
  left:714px;
  top:86px;
  width:97px;
  height:50px;
}
#u7098 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7099_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u7099 {
  position:absolute;
  left:600px;
  top:297px;
  width:30px;
  height:40px;
}
#u7100 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u7101 {
  position:absolute;
  left:600px;
  top:666px;
  width:30px;
  height:40px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u7103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:464px;
}
#u7104 {
  position:absolute;
  left:39px;
  top:218px;
  width:604px;
  height:464px;
}
#u7105 {
  position:absolute;
  left:2px;
  top:224px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7106 {
  position:absolute;
  left:553px;
  top:609px;
  width:77px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7107 {
  position:absolute;
  left:586px;
  top:223px;
  width:51px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
