body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:588px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9969 {
  position:absolute;
  left:191px;
  top:75px;
  width:100px;
  height:60px;
}
#u9970 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9971 {
  position:absolute;
  left:191px;
  top:170px;
  width:100px;
  height:60px;
}
#u9972 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9973 {
  position:absolute;
  left:191px;
  top:517px;
  width:100px;
  height:60px;
}
#u9974 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9975 {
  position:absolute;
  left:191px;
  top:734px;
  width:100px;
  height:60px;
}
#u9976 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9977 {
  position:absolute;
  left:31px;
  top:734px;
  width:100px;
  height:60px;
}
#u9978 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9979 {
  position:absolute;
  left:191px;
  top:624px;
  width:100px;
  height:60px;
}
#u9980 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9981 {
  position:absolute;
  left:352px;
  top:517px;
  width:100px;
  height:60px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u9983 {
  position:absolute;
  left:488px;
  top:517px;
  width:100px;
  height:60px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9985 {
  position:absolute;
  left:191px;
  top:840px;
  width:100px;
  height:60px;
}
#u9986 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9987 {
  position:absolute;
  left:191px;
  top:952px;
  width:100px;
  height:60px;
}
#u9988 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9989 {
  position:absolute;
  left:352px;
  top:952px;
  width:100px;
  height:60px;
}
#u9990 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9991 {
  position:absolute;
  left:191px;
  top:1070px;
  width:100px;
  height:60px;
}
#u9992 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9993 {
  position:absolute;
  left:241px;
  top:135px;
  width:0px;
  height:0px;
}
#u9993_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u9993_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u9994 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9995 {
  position:absolute;
  left:241px;
  top:460px;
  width:0px;
  height:0px;
}
#u9995_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u9995_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u9996 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9997 {
  position:absolute;
  left:241px;
  top:577px;
  width:0px;
  height:0px;
}
#u9997_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9997_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u9998 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u9999 {
  position:absolute;
  left:241px;
  top:684px;
  width:0px;
  height:0px;
}
#u9999_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u9999_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u10000 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u10001 {
  position:absolute;
  left:241px;
  top:794px;
  width:0px;
  height:0px;
}
#u10001_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u10001_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u10002 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10003 {
  position:absolute;
  left:241px;
  top:900px;
  width:0px;
  height:0px;
}
#u10003_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u10003_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u10004 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u10005 {
  position:absolute;
  left:241px;
  top:1012px;
  width:0px;
  height:0px;
}
#u10005_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u10005_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u10006 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10007 {
  position:absolute;
  left:291px;
  top:547px;
  width:0px;
  height:0px;
}
#u10007_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u10007_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10008 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u10009 {
  position:absolute;
  left:191px;
  top:654px;
  width:0px;
  height:0px;
}
#u10009_seg0 {
  position:absolute;
  left:-114px;
  top:-4px;
  width:114px;
  height:8px;
}
#u10009_seg1 {
  position:absolute;
  left:-114px;
  top:-4px;
  width:8px;
  height:84px;
}
#u10009_seg2 {
  position:absolute;
  left:-120px;
  top:67px;
  width:20px;
  height:20px;
}
#u10010 {
  position:absolute;
  left:-145px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u10011 {
  position:absolute;
  left:291px;
  top:870px;
  width:0px;
  height:0px;
}
#u10011_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:115px;
  height:8px;
}
#u10011_seg1 {
  position:absolute;
  left:107px;
  top:-4px;
  width:8px;
  height:86px;
}
#u10011_seg2 {
  position:absolute;
  left:101px;
  top:69px;
  width:20px;
  height:20px;
}
#u10012 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u10013 {
  position:absolute;
  left:81px;
  top:794px;
  width:0px;
  height:0px;
}
#u10013_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:270px;
}
#u10013_seg1 {
  position:absolute;
  left:-4px;
  top:262px;
  width:168px;
  height:8px;
}
#u10013_seg2 {
  position:absolute;
  left:156px;
  top:262px;
  width:8px;
  height:14px;
}
#u10013_seg3 {
  position:absolute;
  left:150px;
  top:263px;
  width:20px;
  height:20px;
}
#u10014 {
  position:absolute;
  left:-50px;
  top:210px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10015 {
  position:absolute;
  left:402px;
  top:1012px;
  width:0px;
  height:0px;
}
#u10015_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u10015_seg1 {
  position:absolute;
  left:-165px;
  top:44px;
  width:169px;
  height:8px;
}
#u10015_seg2 {
  position:absolute;
  left:-165px;
  top:44px;
  width:8px;
  height:14px;
}
#u10015_seg3 {
  position:absolute;
  left:-171px;
  top:45px;
  width:20px;
  height:20px;
}
#u10016 {
  position:absolute;
  left:-112px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10017 {
  position:absolute;
  left:488px;
  top:952px;
  width:100px;
  height:60px;
}
#u10018 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u10019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10019 {
  position:absolute;
  left:31px;
  top:20px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u10021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10021 {
  position:absolute;
  left:191px;
  top:278px;
  width:100px;
  height:60px;
}
#u10022 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10023 {
  position:absolute;
  left:191px;
  top:400px;
  width:100px;
  height:60px;
}
#u10024 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10025 {
  position:absolute;
  left:352px;
  top:278px;
  width:100px;
  height:60px;
}
#u10026 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10027 {
  position:absolute;
  left:241px;
  top:230px;
  width:0px;
  height:0px;
}
#u10027_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u10027_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u10028 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10029 {
  position:absolute;
  left:241px;
  top:338px;
  width:0px;
  height:0px;
}
#u10029_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u10029_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u10030 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u10031 {
  position:absolute;
  left:291px;
  top:308px;
  width:0px;
  height:0px;
}
#u10031_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u10031_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10032 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u10033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10033 {
  position:absolute;
  left:488px;
  top:278px;
  width:100px;
  height:60px;
}
#u10034 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
