body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:588px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11174 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:75px;
  width:100px;
  height:60px;
  display:flex;
}
#u11174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11175 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:170px;
  width:100px;
  height:60px;
  display:flex;
}
#u11175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11176 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:517px;
  width:100px;
  height:60px;
  display:flex;
}
#u11176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11177 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:734px;
  width:100px;
  height:60px;
  display:flex;
}
#u11177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11178 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:734px;
  width:100px;
  height:60px;
  display:flex;
}
#u11178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11179 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:624px;
  width:100px;
  height:60px;
  display:flex;
}
#u11179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11180 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:517px;
  width:100px;
  height:60px;
  display:flex;
}
#u11180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11181 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:517px;
  width:100px;
  height:60px;
  display:flex;
}
#u11181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11182 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:840px;
  width:100px;
  height:60px;
  display:flex;
}
#u11182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11183 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:952px;
  width:100px;
  height:60px;
  display:flex;
}
#u11183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11184 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:952px;
  width:100px;
  height:60px;
  display:flex;
}
#u11184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11185 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:1070px;
  width:100px;
  height:60px;
  display:flex;
}
#u11185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11186 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:135px;
  width:0px;
  height:0px;
}
#u11186_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:40px;
}
#u11186_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u11186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11187 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:460px;
  width:0px;
  height:0px;
}
#u11187_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u11187_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u11187_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11188 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:577px;
  width:0px;
  height:0px;
}
#u11188_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u11188_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u11188_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11189 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:684px;
  width:0px;
  height:0px;
}
#u11189_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u11189_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u11189_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11190 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:794px;
  width:0px;
  height:0px;
}
#u11190_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u11190_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u11190_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11191 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:900px;
  width:0px;
  height:0px;
}
#u11191_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u11191_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u11191_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11192 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:1012px;
  width:0px;
  height:0px;
}
#u11192_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u11192_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u11192_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11193 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:547px;
  width:0px;
  height:0px;
}
#u11193_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u11193_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11193_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11194 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:654px;
  width:0px;
  height:0px;
}
#u11194_seg0 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-5px;
  width:115px;
  height:10px;
}
#u11194_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-5px;
  width:10px;
  height:85px;
}
#u11194_seg2 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:68px;
  width:20px;
  height:20px;
}
#u11194_text {
  border-width:0px;
  position:absolute;
  left:-145px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11195 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:870px;
  width:0px;
  height:0px;
}
#u11195_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:116px;
  height:10px;
}
#u11195_seg1 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-5px;
  width:10px;
  height:87px;
}
#u11195_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:70px;
  width:20px;
  height:20px;
}
#u11195_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11196 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:794px;
  width:0px;
  height:0px;
}
#u11196_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:271px;
}
#u11196_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:261px;
  width:170px;
  height:10px;
}
#u11196_seg2 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:261px;
  width:10px;
  height:15px;
}
#u11196_seg3 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:264px;
  width:20px;
  height:20px;
}
#u11196_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:210px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11197 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:1012px;
  width:0px;
  height:0px;
}
#u11197_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u11197_seg1 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:43px;
  width:171px;
  height:10px;
}
#u11197_seg2 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:43px;
  width:10px;
  height:15px;
}
#u11197_seg3 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:46px;
  width:20px;
  height:20px;
}
#u11197_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11198 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:952px;
  width:100px;
  height:60px;
  display:flex;
}
#u11198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11199 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:20px;
  width:162px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11200 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:278px;
  width:100px;
  height:60px;
  display:flex;
}
#u11200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11201 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:400px;
  width:100px;
  height:60px;
  display:flex;
}
#u11201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11202 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:278px;
  width:100px;
  height:60px;
  display:flex;
}
#u11202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11203 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:230px;
  width:0px;
  height:0px;
}
#u11203_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u11203_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u11203_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11204 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:338px;
  width:0px;
  height:0px;
}
#u11204_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:67px;
}
#u11204_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u11204_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11205 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:308px;
  width:0px;
  height:0px;
}
#u11205_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u11205_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11205_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u11206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11206 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:278px;
  width:100px;
  height:60px;
  display:flex;
}
#u11206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
