body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:648px;
}
#u11269 {
  position:absolute;
  left:49px;
  top:70px;
  width:1086px;
  height:648px;
}
#u11270 {
  position:absolute;
  left:2px;
  top:316px;
  width:1082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11271 {
  position:absolute;
  left:507px;
  top:609px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11272 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
