body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:0px -1px 2px 0px rgba(153, 153, 153, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 2px 0px rgba(153, 153, 153, 0.349019607843137) inset;
  box-shadow:0px -1px 2px 0px rgba(153, 153, 153, 0.349019607843137) inset;
}
#u16817 {
  position:absolute;
  left:61px;
  top:43px;
  width:1464px;
  height:85px;
}
#u16818 {
  position:absolute;
  left:2px;
  top:34px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
}
#u16819 {
  position:absolute;
  left:1458px;
  top:72px;
  width:34px;
  height:28px;
}
#u16820 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:49px;
}
#u16821 {
  position:absolute;
  left:148px;
  top:61px;
  width:144px;
  height:48px;
}
#u16822 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  word-wrap:break-word;
}
#u16823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u16823 {
  position:absolute;
  left:313px;
  top:69px;
  width:97px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u16824 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:32px;
}
#u16825 {
  position:absolute;
  left:303px;
  top:69px;
  width:1px;
  height:31px;
}
#u16826 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u16827 {
  position:absolute;
  left:95px;
  top:73px;
  width:29px;
  height:24px;
}
#u16828 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u16829 {
  position:absolute;
  left:1400px;
  top:69px;
  width:31px;
  height:31px;
  color:#C9C9C9;
}
#u16830 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:999px;
}
#u16831 {
  position:absolute;
  left:294px;
  top:128px;
  width:1231px;
  height:999px;
}
#u16832 {
  position:absolute;
  left:2px;
  top:492px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16836 {
  position:absolute;
  left:61px;
  top:128px;
  width:224px;
  height:43px;
}
#u16837 {
  position:absolute;
  left:2px;
  top:14px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16838 {
  position:absolute;
  left:61px;
  top:132px;
  width:224px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16839 {
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u16840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16840 {
  position:absolute;
  left:85px;
  top:143px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u16841 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16843 {
  position:absolute;
  left:61px;
  top:210px;
  width:224px;
  height:43px;
}
#u16844 {
  position:absolute;
  left:2px;
  top:14px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16845 {
  position:absolute;
  left:61px;
  top:214px;
  width:224px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16846 {
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u16847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16847 {
  position:absolute;
  left:85px;
  top:225px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u16848 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16850 {
  position:absolute;
  left:61px;
  top:253px;
  width:224px;
  height:43px;
}
#u16851 {
  position:absolute;
  left:2px;
  top:14px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16852 {
  position:absolute;
  left:61px;
  top:257px;
  width:224px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16853 {
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u16854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16854 {
  position:absolute;
  left:85px;
  top:268px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u16855 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16857 {
  position:absolute;
  left:61px;
  top:296px;
  width:224px;
  height:43px;
}
#u16858 {
  position:absolute;
  left:2px;
  top:14px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16859 {
  position:absolute;
  left:61px;
  top:300px;
  width:224px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u16860 {
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u16861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16861 {
  position:absolute;
  left:85px;
  top:311px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u16862 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16863 {
  position:absolute;
  left:63px;
  top:128px;
  width:229px;
  height:814px;
}
#u16864 {
  position:absolute;
  left:2px;
  top:399px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16865 {
  position:absolute;
  left:61px;
  top:128px;
  width:231px;
  height:169px;
}
#u16866 {
  position:absolute;
  left:2px;
  top:76px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:71px;
}
#u16867 {
  position:absolute;
  left:97px;
  top:155px;
  width:69px;
  height:71px;
}
#u16868 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  word-wrap:break-word;
}
#u16869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16869 {
  position:absolute;
  left:185px;
  top:179px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16870 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u16871 {
  position:absolute;
  left:232px;
  top:243px;
  width:37px;
  height:38px;
}
#u16872 {
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u16873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u16873 {
  position:absolute;
  left:168px;
  top:243px;
  width:37px;
  height:38px;
}
#u16874 {
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u16875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16875 {
  position:absolute;
  left:61px;
  top:302px;
  width:231px;
  height:640px;
}
#u16876 {
  position:absolute;
  left:2px;
  top:312px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16880 {
  position:absolute;
  left:61px;
  top:309px;
  width:231px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16880_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16880.mouseOver {
}
#u16880_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16880.selected {
}
#u16881 {
  position:absolute;
  left:50px;
  top:16px;
  width:179px;
  word-wrap:break-word;
}
#u16882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16882 {
  position:absolute;
  left:84px;
  top:329px;
  width:14px;
  height:14px;
}
#u16883 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u16884 {
  position:absolute;
  left:61px;
  top:540px;
  width:231px;
  height:1px;
}
#u16885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16889 {
  position:absolute;
  left:61px;
  top:473px;
  width:231px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16889_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16889.mouseOver {
}
#u16889_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16889.selected {
}
#u16890 {
  position:absolute;
  left:50px;
  top:16px;
  width:179px;
  word-wrap:break-word;
}
#u16891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16891 {
  position:absolute;
  left:84px;
  top:494px;
  width:14px;
  height:14px;
}
#u16892 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16896 {
  position:absolute;
  left:61px;
  top:363px;
  width:231px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16896_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16896.mouseOver {
}
#u16896_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16896.selected {
}
#u16897 {
  position:absolute;
  left:50px;
  top:16px;
  width:179px;
  word-wrap:break-word;
}
#u16898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16898 {
  position:absolute;
  left:84px;
  top:384px;
  width:14px;
  height:14px;
}
#u16899 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16903 {
  position:absolute;
  left:61px;
  top:419px;
  width:231px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16903_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16903.mouseOver {
}
#u16903_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16903.selected {
}
#u16904 {
  position:absolute;
  left:50px;
  top:16px;
  width:179px;
  word-wrap:break-word;
}
#u16905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16905 {
  position:absolute;
  left:84px;
  top:439px;
  width:14px;
  height:14px;
}
#u16906 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16910 {
  position:absolute;
  left:61px;
  top:551px;
  width:231px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16910_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16910.mouseOver {
}
#u16910_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u16910.selected {
}
#u16911 {
  position:absolute;
  left:50px;
  top:16px;
  width:179px;
  word-wrap:break-word;
}
#u16912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16912 {
  position:absolute;
  left:84px;
  top:572px;
  width:14px;
  height:14px;
}
#u16913 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u16914 {
  position:absolute;
  left:292px;
  top:440px;
  width:22px;
  height:35px;
}
#u16915 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:34px;
}
#u16916 {
  position:absolute;
  left:61px;
  top:433px;
  width:22px;
  height:34px;
}
#u16917 {
  position:absolute;
  left:2px;
  top:9px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:899px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16919 {
  position:absolute;
  left:61px;
  top:43px;
  width:1464px;
  height:899px;
  opacity:0.3;
}
#u16920 {
  position:absolute;
  left:2px;
  top:442px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
}
#u16922 {
  position:absolute;
  left:1110px;
  top:427px;
  width:199px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16923 {
  position:absolute;
  left:2px;
  top:35px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16924 {
  position:absolute;
  left:1133px;
  top:442px;
  width:153px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16925 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u16926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16926 {
  position:absolute;
  left:1234px;
  top:481px;
  width:69px;
  height:27px;
}
#u16927 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u16928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u16928 {
  position:absolute;
  left:1193px;
  top:489px;
  width:29px;
  height:16px;
  color:#AEAEAE;
}
#u16929 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
}
#u16931 {
  position:absolute;
  left:377px;
  top:676px;
  width:199px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16932 {
  position:absolute;
  left:2px;
  top:35px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16933 {
  position:absolute;
  left:400px;
  top:691px;
  width:153px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16934 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u16935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16935 {
  position:absolute;
  left:501px;
  top:730px;
  width:69px;
  height:27px;
}
#u16936 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u16937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u16937 {
  position:absolute;
  left:460px;
  top:738px;
  width:29px;
  height:16px;
  color:#AEAEAE;
}
#u16938 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
}
#u16940 {
  position:absolute;
  left:1316px;
  top:662px;
  width:199px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16941 {
  position:absolute;
  left:2px;
  top:35px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16942 {
  position:absolute;
  left:1339px;
  top:677px;
  width:153px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16943 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u16944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16944 {
  position:absolute;
  left:1440px;
  top:716px;
  width:69px;
  height:27px;
}
#u16945 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u16946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
}
#u16947 {
  position:absolute;
  left:1258px;
  top:106px;
  width:199px;
  height:98px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16948 {
  position:absolute;
  left:2px;
  top:35px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16949 {
  position:absolute;
  left:1273px;
  top:128px;
  width:169px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16950 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u16951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16951 {
  position:absolute;
  left:1380px;
  top:168px;
  width:69px;
  height:27px;
}
#u16952 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
