body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:276px;
}
#u14536 {
  position:absolute;
  left:54px;
  top:72px;
  width:773px;
  height:276px;
}
#u14537 {
  position:absolute;
  left:2px;
  top:130px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14538 {
  position:absolute;
  left:315px;
  top:202px;
  width:163px;
  height:16px;
  color:#FF0000;
}
#u14539 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u14540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14540 {
  position:absolute;
  left:285px;
  top:237px;
  width:374px;
  height:16px;
  color:#FF0000;
}
#u14541 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  white-space:nowrap;
}
#u14542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:137px;
}
#u14542 {
  position:absolute;
  left:19px;
  top:473px;
  width:1140px;
  height:137px;
}
#u14543 {
  position:absolute;
  left:2px;
  top:60px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14544 {
  position:absolute;
  left:937px;
  top:484px;
  width:115px;
  height:65px;
}
#u14545 {
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14546 {
  position:absolute;
  left:928px;
  top:447px;
  width:289px;
  height:16px;
  color:#FF0000;
}
#u14547 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u14548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:276px;
}
#u14548 {
  position:absolute;
  left:48px;
  top:674px;
  width:773px;
  height:276px;
}
#u14549 {
  position:absolute;
  left:2px;
  top:130px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14550 {
  position:absolute;
  left:611px;
  top:834px;
  width:163px;
  height:16px;
  color:#FF0000;
}
#u14551 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u14552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14552 {
  position:absolute;
  left:406px;
  top:976px;
  width:753px;
  height:16px;
  color:#FF0000;
}
#u14553 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  white-space:nowrap;
}
#u14554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14554 {
  position:absolute;
  left:406px;
  top:1002px;
  width:198px;
  height:16px;
  color:#FF0000;
}
#u14555 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
