body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:276px;
}
#u9018 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:72px;
  width:773px;
  height:276px;
  display:flex;
}
#u9018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9019 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:202px;
  width:162px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u9019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9020 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:237px;
  width:371px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u9020 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9020_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:137px;
}
#u9021 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:473px;
  width:1140px;
  height:137px;
  display:flex;
}
#u9021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9022 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:484px;
  width:115px;
  height:65px;
  display:flex;
}
#u9022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9023 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:447px;
  width:288px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u9023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:276px;
}
#u9024 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:674px;
  width:773px;
  height:276px;
  display:flex;
}
#u9024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9025 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:834px;
  width:164px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u9025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9026 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:976px;
  width:753px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u9026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9027 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:1002px;
  width:198px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u9027 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9027_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
