body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:276px;
}
#u15884 {
  position:absolute;
  left:54px;
  top:72px;
  width:773px;
  height:276px;
}
#u15885 {
  position:absolute;
  left:2px;
  top:130px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u15886 {
  position:absolute;
  left:315px;
  top:202px;
  width:163px;
  height:16px;
  color:#FF0000;
}
#u15887 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u15888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u15888 {
  position:absolute;
  left:285px;
  top:237px;
  width:374px;
  height:16px;
  color:#FF0000;
}
#u15889 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  white-space:nowrap;
}
#u15890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:137px;
}
#u15890 {
  position:absolute;
  left:19px;
  top:473px;
  width:1140px;
  height:137px;
}
#u15891 {
  position:absolute;
  left:2px;
  top:60px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15892 {
  position:absolute;
  left:937px;
  top:484px;
  width:115px;
  height:65px;
}
#u15893 {
  position:absolute;
  left:2px;
  top:24px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u15894 {
  position:absolute;
  left:928px;
  top:447px;
  width:289px;
  height:16px;
  color:#FF0000;
}
#u15895 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u15896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:276px;
}
#u15896 {
  position:absolute;
  left:48px;
  top:674px;
  width:773px;
  height:276px;
}
#u15897 {
  position:absolute;
  left:2px;
  top:130px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u15898 {
  position:absolute;
  left:611px;
  top:834px;
  width:163px;
  height:16px;
  color:#FF0000;
}
#u15899 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u15900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u15900 {
  position:absolute;
  left:406px;
  top:976px;
  width:753px;
  height:16px;
  color:#FF0000;
}
#u15901 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  white-space:nowrap;
}
#u15902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u15902 {
  position:absolute;
  left:406px;
  top:1002px;
  width:198px;
  height:16px;
  color:#FF0000;
}
#u15903 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
