body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6180 {
  position:absolute;
  left:172px;
  top:62px;
  width:100px;
  height:60px;
}
#u6181 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6182 {
  position:absolute;
  left:172px;
  top:170px;
  width:100px;
  height:60px;
}
#u6183 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6184 {
  position:absolute;
  left:172px;
  top:502px;
  width:100px;
  height:60px;
}
#u6185 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6186 {
  position:absolute;
  left:172px;
  top:609px;
  width:100px;
  height:60px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6188 {
  position:absolute;
  left:323px;
  top:609px;
  width:100px;
  height:60px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6190 {
  position:absolute;
  left:172px;
  top:715px;
  width:100px;
  height:60px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6192 {
  position:absolute;
  left:222px;
  top:122px;
  width:0px;
  height:0px;
}
#u6192_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u6192_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u6193 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6194 {
  position:absolute;
  left:272px;
  top:532px;
  width:0px;
  height:0px;
}
#u6194_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u6194_seg1 {
  position:absolute;
  left:97px;
  top:-4px;
  width:8px;
  height:81px;
}
#u6194_seg2 {
  position:absolute;
  left:91px;
  top:64px;
  width:20px;
  height:20px;
}
#u6195 {
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6196 {
  position:absolute;
  left:222px;
  top:562px;
  width:0px;
  height:0px;
}
#u6196_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u6196_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u6197 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u6198 {
  position:absolute;
  left:222px;
  top:669px;
  width:0px;
  height:0px;
}
#u6198_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u6198_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u6199 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6200 {
  position:absolute;
  left:457px;
  top:609px;
  width:100px;
  height:60px;
}
#u6201 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6202 {
  position:absolute;
  left:172px;
  top:272px;
  width:100px;
  height:60px;
}
#u6203 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6204 {
  position:absolute;
  left:172px;
  top:381px;
  width:100px;
  height:60px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6206 {
  position:absolute;
  left:335px;
  top:381px;
  width:100px;
  height:60px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:61px;
}
#u6208 {
  position:absolute;
  left:481px;
  top:381px;
  width:238px;
  height:60px;
  text-align:left;
}
#u6209 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u6210 {
  position:absolute;
  left:222px;
  top:230px;
  width:0px;
  height:0px;
}
#u6210_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u6210_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u6211 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212 {
  position:absolute;
  left:222px;
  top:332px;
  width:0px;
  height:0px;
}
#u6212_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u6212_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u6213 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6214 {
  position:absolute;
  left:272px;
  top:411px;
  width:0px;
  height:0px;
}
#u6214_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u6214_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6215 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6216 {
  position:absolute;
  left:222px;
  top:441px;
  width:0px;
  height:0px;
}
#u6216_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u6216_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u6217 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
