body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:132px;
  width:100px;
  height:60px;
  display:flex;
}
#u1195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:245px;
  width:100px;
  height:60px;
  display:flex;
}
#u1196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:245px;
  width:100px;
  height:60px;
  display:flex;
}
#u1197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:60px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:245px;
  width:141px;
  height:60px;
  display:flex;
}
#u1198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:360px;
  width:100px;
  height:60px;
  display:flex;
}
#u1199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:458px;
  width:100px;
  height:60px;
  display:flex;
}
#u1200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:560px;
  width:100px;
  height:60px;
  display:flex;
}
#u1201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:661px;
  width:100px;
  height:60px;
  display:flex;
}
#u1202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:305px;
  width:0px;
  height:0px;
}
#u1203_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:44px;
}
#u1203_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:34px;
  width:81px;
  height:10px;
}
#u1203_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:34px;
  width:10px;
  height:21px;
}
#u1203_seg3 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:43px;
  width:20px;
  height:20px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:305px;
  width:0px;
  height:0px;
}
#u1204_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:44px;
}
#u1204_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:34px;
  width:85px;
  height:10px;
}
#u1204_seg2 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:34px;
  width:10px;
  height:21px;
}
#u1204_seg3 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:43px;
  width:20px;
  height:20px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:192px;
  width:0px;
  height:0px;
}
#u1205_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u1205_seg1 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:27px;
  width:81px;
  height:10px;
}
#u1205_seg2 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:27px;
  width:10px;
  height:26px;
}
#u1205_seg3 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:41px;
  width:20px;
  height:20px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:192px;
  width:0px;
  height:0px;
}
#u1206_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u1206_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:27px;
  width:85px;
  height:10px;
}
#u1206_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:27px;
  width:10px;
  height:26px;
}
#u1206_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:41px;
  width:20px;
  height:20px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:420px;
  width:0px;
  height:0px;
}
#u1207_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:43px;
}
#u1207_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:518px;
  width:0px;
  height:0px;
}
#u1208_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:47px;
}
#u1208_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:620px;
  width:0px;
  height:0px;
}
#u1209_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:46px;
}
#u1209_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:775px;
  width:100px;
  height:60px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:721px;
  width:0px;
  height:0px;
}
#u1211_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:59px;
}
#u1211_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:458px;
  width:100px;
  height:60px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:390px;
  width:0px;
  height:0px;
}
#u1213_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:118px;
  height:10px;
}
#u1213_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-5px;
  width:10px;
  height:73px;
}
#u1213_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:56px;
  width:20px;
  height:20px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:560px;
  width:100px;
  height:60px;
  display:flex;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:518px;
  width:0px;
  height:0px;
}
#u1215_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:47px;
}
#u1215_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:620px;
  width:0px;
  height:0px;
}
#u1216_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:145px;
}
#u1216_seg1 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:135px;
  width:173px;
  height:10px;
}
#u1216_seg2 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:135px;
  width:10px;
  height:20px;
}
#u1216_seg3 {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:143px;
  width:20px;
  height:20px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:132px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
