body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9191 {
  position:absolute;
  left:107px;
  top:23px;
  width:100px;
  height:60px;
}
#u9192 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9193 {
  position:absolute;
  left:107px;
  top:239px;
  width:100px;
  height:60px;
}
#u9194 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9195 {
  position:absolute;
  left:107px;
  top:353px;
  width:100px;
  height:60px;
}
#u9196 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9197 {
  position:absolute;
  left:272px;
  top:239px;
  width:100px;
  height:60px;
}
#u9198 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9199 {
  position:absolute;
  left:272px;
  top:353px;
  width:100px;
  height:60px;
}
#u9200 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9201 {
  position:absolute;
  left:272px;
  top:475px;
  width:100px;
  height:60px;
}
#u9202 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9203 {
  position:absolute;
  left:548px;
  top:353px;
  width:100px;
  height:60px;
}
#u9204 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9205 {
  position:absolute;
  left:548px;
  top:475px;
  width:100px;
  height:60px;
}
#u9206 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9207 {
  position:absolute;
  left:107px;
  top:889px;
  width:100px;
  height:60px;
}
#u9208 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9209 {
  position:absolute;
  left:548px;
  top:785px;
  width:100px;
  height:60px;
}
#u9210 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9211 {
  position:absolute;
  left:699px;
  top:889px;
  width:100px;
  height:60px;
}
#u9212 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u9213 {
  position:absolute;
  left:833px;
  top:889px;
  width:100px;
  height:60px;
}
#u9214 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9215 {
  position:absolute;
  left:548px;
  top:577px;
  width:100px;
  height:60px;
}
#u9216 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9217 {
  position:absolute;
  left:548px;
  top:682px;
  width:100px;
  height:60px;
}
#u9218 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9219 {
  position:absolute;
  left:157px;
  top:192px;
  width:0px;
  height:0px;
}
#u9219_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9219_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u9220 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9221 {
  position:absolute;
  left:207px;
  top:269px;
  width:0px;
  height:0px;
}
#u9221_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u9221_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9222 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9223 {
  position:absolute;
  left:157px;
  top:299px;
  width:0px;
  height:0px;
}
#u9223_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u9223_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u9224 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u9225 {
  position:absolute;
  left:322px;
  top:299px;
  width:0px;
  height:0px;
}
#u9225_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u9225_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u9226 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9227 {
  position:absolute;
  left:372px;
  top:383px;
  width:0px;
  height:0px;
}
#u9227_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:180px;
  height:8px;
}
#u9227_seg1 {
  position:absolute;
  left:163px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9228 {
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9229 {
  position:absolute;
  left:322px;
  top:413px;
  width:0px;
  height:0px;
}
#u9229_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u9229_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u9230 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u9231 {
  position:absolute;
  left:598px;
  top:413px;
  width:0px;
  height:0px;
}
#u9231_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u9231_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u9232 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9233 {
  position:absolute;
  left:598px;
  top:535px;
  width:0px;
  height:0px;
}
#u9233_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u9233_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u9234 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9235 {
  position:absolute;
  left:598px;
  top:637px;
  width:0px;
  height:0px;
}
#u9235_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u9235_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u9236 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9237 {
  position:absolute;
  left:598px;
  top:742px;
  width:0px;
  height:0px;
}
#u9237_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u9237_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u9238 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9239 {
  position:absolute;
  left:598px;
  top:845px;
  width:0px;
  height:0px;
}
#u9239_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u9239_seg1 {
  position:absolute;
  left:-4px;
  top:70px;
  width:105px;
  height:8px;
}
#u9239_seg2 {
  position:absolute;
  left:88px;
  top:64px;
  width:20px;
  height:20px;
}
#u9240 {
  position:absolute;
  left:-36px;
  top:66px;
  width:100px;
  word-wrap:break-word;
}
#u9241 {
  position:absolute;
  left:799px;
  top:919px;
  width:0px;
  height:0px;
}
#u9241_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u9241_seg1 {
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9242 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9243 {
  position:absolute;
  left:749px;
  top:949px;
  width:0px;
  height:0px;
}
#u9243_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u9243_seg1 {
  position:absolute;
  left:-462px;
  top:15px;
  width:466px;
  height:8px;
}
#u9243_seg2 {
  position:absolute;
  left:-462px;
  top:-34px;
  width:8px;
  height:57px;
}
#u9243_seg3 {
  position:absolute;
  left:-542px;
  top:-34px;
  width:88px;
  height:8px;
}
#u9243_seg4 {
  position:absolute;
  left:-549px;
  top:-40px;
  width:20px;
  height:20px;
}
#u9244 {
  position:absolute;
  left:-336px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9245 {
  position:absolute;
  left:107px;
  top:132px;
  width:100px;
  height:60px;
}
#u9246 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9247 {
  position:absolute;
  left:157px;
  top:413px;
  width:0px;
  height:0px;
}
#u9247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:480px;
}
#u9247_seg1 {
  position:absolute;
  left:-10px;
  top:463px;
  width:20px;
  height:20px;
}
#u9248 {
  position:absolute;
  left:-50px;
  top:230px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9249 {
  position:absolute;
  left:272px;
  top:577px;
  width:100px;
  height:60px;
}
#u9250 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9251 {
  position:absolute;
  left:372px;
  top:607px;
  width:0px;
  height:0px;
}
#u9251_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u9251_seg1 {
  position:absolute;
  left:94px;
  top:-106px;
  width:8px;
  height:110px;
}
#u9251_seg2 {
  position:absolute;
  left:94px;
  top:-106px;
  width:82px;
  height:8px;
}
#u9251_seg3 {
  position:absolute;
  left:163px;
  top:-112px;
  width:20px;
  height:20px;
}
#u9252 {
  position:absolute;
  left:48px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
}
#u9253 {
  position:absolute;
  left:322px;
  top:535px;
  width:0px;
  height:0px;
}
#u9253_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u9253_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u9254 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9255 {
  position:absolute;
  left:272px;
  top:682px;
  width:100px;
  height:60px;
}
#u9256 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9257 {
  position:absolute;
  left:322px;
  top:637px;
  width:0px;
  height:0px;
}
#u9257_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u9257_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u9258 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u9259 {
  position:absolute;
  left:322px;
  top:742px;
  width:0px;
  height:0px;
}
#u9259_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u9259_seg1 {
  position:absolute;
  left:-169px;
  top:83px;
  width:173px;
  height:8px;
}
#u9259_seg2 {
  position:absolute;
  left:-169px;
  top:83px;
  width:8px;
  height:64px;
}
#u9259_seg3 {
  position:absolute;
  left:-175px;
  top:134px;
  width:20px;
  height:20px;
}
#u9260 {
  position:absolute;
  left:-119px;
  top:79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9261 {
  position:absolute;
  left:157px;
  top:83px;
  width:0px;
  height:0px;
}
#u9261_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u9261_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u9262 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9264 {
  position:absolute;
  left:396px;
  top:785px;
  width:100px;
  height:60px;
}
#u9265 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u9266 {
  position:absolute;
  left:409px;
  top:785px;
  width:1px;
  height:60px;
}
#u9267 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u9268 {
  position:absolute;
  left:480px;
  top:785px;
  width:1px;
  height:60px;
}
#u9269 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9270 {
  position:absolute;
  left:548px;
  top:815px;
  width:0px;
  height:0px;
}
#u9270_seg0 {
  position:absolute;
  left:-52px;
  top:-4px;
  width:56px;
  height:8px;
}
#u9270_seg1 {
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9271 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
