body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:914px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8242 {
  position:absolute;
  left:360px;
  top:80px;
  width:100px;
  height:60px;
}
#u8243 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8244 {
  position:absolute;
  left:360px;
  top:196px;
  width:100px;
  height:60px;
}
#u8245 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8246 {
  position:absolute;
  left:360px;
  top:311px;
  width:100px;
  height:60px;
}
#u8247 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8248 {
  position:absolute;
  left:360px;
  top:423px;
  width:100px;
  height:60px;
}
#u8249 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8250 {
  position:absolute;
  left:529px;
  top:528px;
  width:100px;
  height:60px;
}
#u8251 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8252 {
  position:absolute;
  left:360px;
  top:585px;
  width:100px;
  height:60px;
}
#u8253 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8254 {
  position:absolute;
  left:360px;
  top:927px;
  width:100px;
  height:60px;
}
#u8255 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8256 {
  position:absolute;
  left:529px;
  top:629px;
  width:100px;
  height:60px;
}
#u8257 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8258 {
  position:absolute;
  left:529px;
  top:731px;
  width:100px;
  height:60px;
}
#u8259 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:79px;
}
#u8260 {
  position:absolute;
  left:678px;
  top:620px;
  width:144px;
  height:78px;
}
#u8261 {
  position:absolute;
  left:2px;
  top:23px;
  width:140px;
  word-wrap:break-word;
}
#u8262 {
  position:absolute;
  left:410px;
  top:140px;
  width:0px;
  height:0px;
}
#u8262_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u8262_seg1 {
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u8263 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8264 {
  position:absolute;
  left:410px;
  top:256px;
  width:0px;
  height:0px;
}
#u8264_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u8264_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u8265 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8266 {
  position:absolute;
  left:410px;
  top:371px;
  width:0px;
  height:0px;
}
#u8266_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u8266_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u8267 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8268 {
  position:absolute;
  left:460px;
  top:453px;
  width:0px;
  height:0px;
}
#u8268_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u8268_seg1 {
  position:absolute;
  left:115px;
  top:-4px;
  width:8px;
  height:79px;
}
#u8268_seg2 {
  position:absolute;
  left:109px;
  top:62px;
  width:20px;
  height:20px;
}
#u8269 {
  position:absolute;
  left:47px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8270 {
  position:absolute;
  left:410px;
  top:483px;
  width:0px;
  height:0px;
}
#u8270_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u8270_seg1 {
  position:absolute;
  left:-10px;
  top:89px;
  width:20px;
  height:20px;
}
#u8271 {
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  word-wrap:break-word;
}
#u8272 {
  position:absolute;
  left:579px;
  top:588px;
  width:0px;
  height:0px;
}
#u8272_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u8272_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u8273 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8274 {
  position:absolute;
  left:579px;
  top:689px;
  width:0px;
  height:0px;
}
#u8274_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u8274_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u8275 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8276 {
  position:absolute;
  left:529px;
  top:830px;
  width:100px;
  height:60px;
}
#u8277 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8278 {
  position:absolute;
  left:680px;
  top:937px;
  width:100px;
  height:60px;
}
#u8279 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8280 {
  position:absolute;
  left:814px;
  top:937px;
  width:100px;
  height:60px;
}
#u8281 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8282 {
  position:absolute;
  left:579px;
  top:791px;
  width:0px;
  height:0px;
}
#u8282_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u8282_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u8283 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8284 {
  position:absolute;
  left:529px;
  top:860px;
  width:0px;
  height:0px;
}
#u8284_seg0 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u8284_seg1 {
  position:absolute;
  left:-63px;
  top:-249px;
  width:8px;
  height:253px;
}
#u8284_seg2 {
  position:absolute;
  left:-69px;
  top:-249px;
  width:14px;
  height:8px;
}
#u8284_seg3 {
  position:absolute;
  left:-76px;
  top:-255px;
  width:20px;
  height:20px;
}
#u8285 {
  position:absolute;
  left:-109px;
  top:-106px;
  width:100px;
  word-wrap:break-word;
}
#u8286 {
  position:absolute;
  left:579px;
  top:890px;
  width:0px;
  height:0px;
}
#u8286_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u8286_seg1 {
  position:absolute;
  left:-4px;
  top:73px;
  width:105px;
  height:8px;
}
#u8286_seg2 {
  position:absolute;
  left:88px;
  top:67px;
  width:20px;
  height:20px;
}
#u8287 {
  position:absolute;
  left:-38px;
  top:69px;
  width:100px;
  word-wrap:break-word;
}
#u8288 {
  position:absolute;
  left:410px;
  top:645px;
  width:0px;
  height:0px;
}
#u8288_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:286px;
}
#u8288_seg1 {
  position:absolute;
  left:-10px;
  top:269px;
  width:20px;
  height:20px;
}
#u8289 {
  position:absolute;
  left:-50px;
  top:133px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8290 {
  position:absolute;
  left:360px;
  top:1038px;
  width:100px;
  height:60px;
}
#u8291 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8292 {
  position:absolute;
  left:184px;
  top:1038px;
  width:100px;
  height:60px;
}
#u8293 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8294 {
  position:absolute;
  left:48px;
  top:1038px;
  width:100px;
  height:60px;
}
#u8295 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8296 {
  position:absolute;
  left:410px;
  top:987px;
  width:0px;
  height:0px;
}
#u8296_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u8296_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u8297 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8298 {
  position:absolute;
  left:360px;
  top:1151px;
  width:100px;
  height:60px;
}
#u8299 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8300 {
  position:absolute;
  left:360px;
  top:1262px;
  width:100px;
  height:60px;
}
#u8301 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8302 {
  position:absolute;
  left:410px;
  top:1098px;
  width:0px;
  height:0px;
}
#u8302_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u8302_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u8303 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u8304 {
  position:absolute;
  left:410px;
  top:1211px;
  width:0px;
  height:0px;
}
#u8304_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u8304_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u8305 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8306 {
  position:absolute;
  left:360px;
  top:1068px;
  width:0px;
  height:0px;
}
#u8306_seg0 {
  position:absolute;
  left:-76px;
  top:-4px;
  width:80px;
  height:8px;
}
#u8306_seg1 {
  position:absolute;
  left:-83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8307 {
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8308 {
  position:absolute;
  left:360px;
  top:615px;
  width:0px;
  height:0px;
}
#u8308_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:97px;
  height:8px;
}
#u8308_seg1 {
  position:absolute;
  left:-100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8309 {
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8311 {
  position:absolute;
  left:167px;
  top:585px;
  width:100px;
  height:60px;
}
#u8312 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u8313 {
  position:absolute;
  left:184px;
  top:585px;
  width:1px;
  height:60px;
}
#u8314 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u8315 {
  position:absolute;
  left:248px;
  top:585px;
  width:1px;
  height:60px;
}
#u8316 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:61px;
}
#u8317 {
  position:absolute;
  left:508px;
  top:1151px;
  width:138px;
  height:60px;
}
#u8318 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u8319 {
  position:absolute;
  left:730px;
  top:997px;
  width:0px;
  height:0px;
}
#u8319_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:299px;
}
#u8319_seg1 {
  position:absolute;
  left:-270px;
  top:291px;
  width:274px;
  height:8px;
}
#u8319_seg2 {
  position:absolute;
  left:-277px;
  top:285px;
  width:20px;
  height:20px;
}
#u8320 {
  position:absolute;
  left:-50px;
  top:274px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
