body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10591 {
  position:absolute;
  left:49px;
  top:100px;
  width:375px;
  height:667px;
}
#u10592 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10593 {
  position:absolute;
  left:576px;
  top:100px;
  width:375px;
  height:667px;
}
#u10594 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10595 {
  position:absolute;
  left:576px;
  top:100px;
  width:375px;
  height:667px;
  opacity:0.3;
}
#u10596 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10597 {
  position:absolute;
  left:622px;
  top:293px;
  width:283px;
  height:249px;
}
#u10598 {
  position:absolute;
  left:2px;
  top:116px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10599 {
  position:absolute;
  left:673px;
  top:48px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10600 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u10601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:191px;
}
#u10601 {
  position:absolute;
  left:669px;
  top:317px;
  width:189px;
  height:191px;
}
#u10602 {
  position:absolute;
  left:2px;
  top:88px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10603 {
  position:absolute;
  left:878px;
  top:298px;
  width:22px;
  height:22px;
}
#u10604 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10605 {
  position:absolute;
  left:672px;
  top:508px;
  width:173px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10606 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u10607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10607 {
  position:absolute;
  left:1040px;
  top:100px;
  width:375px;
  height:667px;
}
#u10608 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10609 {
  position:absolute;
  left:1040px;
  top:100px;
  width:375px;
  height:667px;
  opacity:0.3;
}
#u10610 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10611 {
  position:absolute;
  left:1086px;
  top:293px;
  width:283px;
  height:249px;
}
#u10612 {
  position:absolute;
  left:2px;
  top:116px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10613 {
  position:absolute;
  left:1128px;
  top:48px;
  width:199px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10614 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u10615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:191px;
}
#u10615 {
  position:absolute;
  left:1133px;
  top:317px;
  width:189px;
  height:191px;
}
#u10616 {
  position:absolute;
  left:2px;
  top:88px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10617 {
  position:absolute;
  left:1342px;
  top:298px;
  width:22px;
  height:22px;
}
#u10618 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10619 {
  position:absolute;
  left:1106px;
  top:508px;
  width:243px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10620 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u10621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10621 {
  position:absolute;
  left:200px;
  top:48px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10622 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:496px;
}
#u10623 {
  position:absolute;
  left:35px;
  top:823px;
  width:656px;
  height:496px;
}
#u10624 {
  position:absolute;
  left:2px;
  top:240px;
  width:652px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:372px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10625 {
  position:absolute;
  left:887px;
  top:939px;
  width:409px;
  height:372px;
}
#u10626 {
  position:absolute;
  left:2px;
  top:178px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10627 {
  position:absolute;
  left:1256px;
  top:943px;
  width:40px;
  height:40px;
}
#u10628 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:243px;
}
#u10629 {
  position:absolute;
  left:972px;
  top:1004px;
  width:240px;
  height:243px;
}
#u10630 {
  position:absolute;
  left:2px;
  top:114px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10631 {
  position:absolute;
  left:1010px;
  top:1257px;
  width:163px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10632 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u10633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:83px;
}
#u10633 {
  position:absolute;
  left:1051px;
  top:921px;
  width:82px;
  height:83px;
}
#u10634 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u10635 {
  position:absolute;
  left:1196px;
  top:262px;
  width:64px;
  height:65px;
}
#u10636 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u10637 {
  position:absolute;
  left:732px;
  top:255px;
  width:64px;
  height:65px;
}
#u10638 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10639 {
  position:absolute;
  left:1025px;
  top:850px;
  width:134px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10640 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u10641 {
  position:absolute;
  left:1454px;
  top:377px;
  width:816px;
  height:356px;
}
#u10642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u10642 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u10643 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u10644 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u10645 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u10646 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
}
#u10647 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u10648 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
}
#u10649 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u10650 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u10651 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:36px;
}
#u10652 {
  position:absolute;
  left:500px;
  top:0px;
  width:214px;
  height:36px;
}
#u10653 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u10654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u10654 {
  position:absolute;
  left:714px;
  top:0px;
  width:97px;
  height:36px;
}
#u10655 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u10656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10656 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:50px;
}
#u10657 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10658 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:50px;
}
#u10659 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10660 {
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:50px;
}
#u10661 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10662 {
  position:absolute;
  left:300px;
  top:36px;
  width:100px;
  height:50px;
}
#u10663 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10664 {
  position:absolute;
  left:400px;
  top:36px;
  width:100px;
  height:50px;
}
#u10665 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u10666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u10666 {
  position:absolute;
  left:500px;
  top:36px;
  width:214px;
  height:50px;
}
#u10667 {
  position:absolute;
  left:2px;
  top:17px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u10668 {
  position:absolute;
  left:714px;
  top:36px;
  width:97px;
  height:50px;
}
#u10669 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10670 {
  position:absolute;
  left:0px;
  top:86px;
  width:100px;
  height:50px;
}
#u10671 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10672 {
  position:absolute;
  left:100px;
  top:86px;
  width:100px;
  height:50px;
}
#u10673 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10674 {
  position:absolute;
  left:200px;
  top:86px;
  width:100px;
  height:50px;
}
#u10675 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10676 {
  position:absolute;
  left:300px;
  top:86px;
  width:100px;
  height:50px;
}
#u10677 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u10678 {
  position:absolute;
  left:400px;
  top:86px;
  width:100px;
  height:50px;
}
#u10679 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u10680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u10680 {
  position:absolute;
  left:500px;
  top:86px;
  width:214px;
  height:50px;
}
#u10681 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u10682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u10682 {
  position:absolute;
  left:714px;
  top:86px;
  width:97px;
  height:50px;
}
#u10683 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:164px;
}
#u10684 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:164px;
}
#u10685 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  word-wrap:break-word;
}
#u10686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:164px;
}
#u10686 {
  position:absolute;
  left:100px;
  top:136px;
  width:100px;
  height:164px;
}
#u10687 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  word-wrap:break-word;
}
#u10688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:164px;
}
#u10688 {
  position:absolute;
  left:200px;
  top:136px;
  width:100px;
  height:164px;
}
#u10689 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  word-wrap:break-word;
}
#u10690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:164px;
}
#u10690 {
  position:absolute;
  left:300px;
  top:136px;
  width:100px;
  height:164px;
}
#u10691 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  word-wrap:break-word;
}
#u10692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:164px;
}
#u10692 {
  position:absolute;
  left:400px;
  top:136px;
  width:100px;
  height:164px;
}
#u10693 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  word-wrap:break-word;
}
#u10694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:164px;
}
#u10694 {
  position:absolute;
  left:500px;
  top:136px;
  width:214px;
  height:164px;
  text-align:left;
}
#u10695 {
  position:absolute;
  left:2px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u10696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:164px;
}
#u10696 {
  position:absolute;
  left:714px;
  top:136px;
  width:97px;
  height:164px;
}
#u10697 {
  position:absolute;
  left:2px;
  top:66px;
  width:93px;
  word-wrap:break-word;
}
#u10698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u10698 {
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:51px;
}
#u10699 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u10700 {
  position:absolute;
  left:100px;
  top:300px;
  width:100px;
  height:51px;
}
#u10701 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u10702 {
  position:absolute;
  left:200px;
  top:300px;
  width:100px;
  height:51px;
}
#u10703 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u10704 {
  position:absolute;
  left:300px;
  top:300px;
  width:100px;
  height:51px;
}
#u10705 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u10706 {
  position:absolute;
  left:400px;
  top:300px;
  width:100px;
  height:51px;
}
#u10707 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u10708 {
  position:absolute;
  left:500px;
  top:300px;
  width:214px;
  height:51px;
}
#u10709 {
  position:absolute;
  left:2px;
  top:18px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:51px;
}
#u10710 {
  position:absolute;
  left:714px;
  top:300px;
  width:97px;
  height:51px;
}
#u10711 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10712_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u10712 {
  position:absolute;
  left:874px;
  top:258px;
  width:30px;
  height:40px;
}
#u10713 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u10714_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u10714 {
  position:absolute;
  left:845px;
  top:475px;
  width:30px;
  height:40px;
}
#u10715 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u10716_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u10716 {
  position:absolute;
  left:646px;
  top:398px;
  width:30px;
  height:40px;
}
#u10717 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
