body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4865 {
  position:absolute;
  left:90px;
  top:64px;
  width:100px;
  height:60px;
}
#u4866 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4867 {
  position:absolute;
  left:90px;
  top:403px;
  width:100px;
  height:60px;
}
#u4868 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4869 {
  position:absolute;
  left:90px;
  top:631px;
  width:100px;
  height:60px;
}
#u4870 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4871 {
  position:absolute;
  left:90px;
  top:733px;
  width:100px;
  height:60px;
}
#u4872 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  position:absolute;
  left:90px;
  top:942px;
  width:100px;
  height:60px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4875 {
  position:absolute;
  left:90px;
  top:836px;
  width:100px;
  height:60px;
}
#u4876 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  position:absolute;
  left:255px;
  top:631px;
  width:100px;
  height:60px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4879 {
  position:absolute;
  left:398px;
  top:291px;
  width:100px;
  height:60px;
}
#u4880 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4881 {
  position:absolute;
  left:90px;
  top:513px;
  width:100px;
  height:60px;
}
#u4882 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4883 {
  position:absolute;
  left:140px;
  top:573px;
  width:0px;
  height:0px;
}
#u4883_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u4883_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u4884 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4885 {
  position:absolute;
  left:398px;
  top:403px;
  width:100px;
  height:60px;
}
#u4886 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4887 {
  position:absolute;
  left:90px;
  top:189px;
  width:100px;
  height:60px;
}
#u4888 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4889 {
  position:absolute;
  left:90px;
  top:291px;
  width:100px;
  height:60px;
}
#u4890 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4891 {
  position:absolute;
  left:140px;
  top:124px;
  width:0px;
  height:0px;
}
#u4891_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u4891_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u4892 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4893 {
  position:absolute;
  left:140px;
  top:249px;
  width:0px;
  height:0px;
}
#u4893_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4893_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u4894 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u4895 {
  position:absolute;
  left:140px;
  top:351px;
  width:0px;
  height:0px;
}
#u4895_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u4895_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u4896 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4897 {
  position:absolute;
  left:140px;
  top:463px;
  width:0px;
  height:0px;
}
#u4897_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4897_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u4898 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4899 {
  position:absolute;
  left:140px;
  top:691px;
  width:0px;
  height:0px;
}
#u4899_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4899_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u4900 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4901 {
  position:absolute;
  left:140px;
  top:793px;
  width:0px;
  height:0px;
}
#u4901_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u4901_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u4902 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903 {
  position:absolute;
  left:140px;
  top:896px;
  width:0px;
  height:0px;
}
#u4903_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u4903_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u4904 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4905 {
  position:absolute;
  left:305px;
  top:631px;
  width:0px;
  height:0px;
}
#u4905_seg0 {
  position:absolute;
  left:-4px;
  top:-202px;
  width:8px;
  height:202px;
}
#u4905_seg1 {
  position:absolute;
  left:-115px;
  top:-202px;
  width:119px;
  height:8px;
}
#u4905_seg2 {
  position:absolute;
  left:-122px;
  top:-208px;
  width:20px;
  height:20px;
}
#u4906 {
  position:absolute;
  left:-50px;
  top:-164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4907 {
  position:absolute;
  left:190px;
  top:661px;
  width:0px;
  height:0px;
}
#u4907_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u4907_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4908 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4909 {
  position:absolute;
  left:398px;
  top:513px;
  width:100px;
  height:60px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4911 {
  position:absolute;
  left:448px;
  top:351px;
  width:0px;
  height:0px;
}
#u4911_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u4911_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u4912 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4913 {
  position:absolute;
  left:448px;
  top:463px;
  width:0px;
  height:0px;
}
#u4913_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4913_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u4914 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4915 {
  position:absolute;
  left:398px;
  top:189px;
  width:100px;
  height:60px;
}
#u4916 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4917 {
  position:absolute;
  left:190px;
  top:219px;
  width:0px;
  height:0px;
}
#u4917_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:212px;
  height:8px;
}
#u4917_seg1 {
  position:absolute;
  left:195px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4918 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4919 {
  position:absolute;
  left:448px;
  top:573px;
  width:0px;
  height:0px;
}
#u4919_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:297px;
}
#u4919_seg1 {
  position:absolute;
  left:-258px;
  top:289px;
  width:262px;
  height:8px;
}
#u4919_seg2 {
  position:absolute;
  left:-265px;
  top:283px;
  width:20px;
  height:20px;
}
#u4920 {
  position:absolute;
  left:-50px;
  top:268px;
  width:100px;
  word-wrap:break-word;
}
#u4921 {
  position:absolute;
  left:498px;
  top:543px;
  width:0px;
  height:0px;
}
#u4921_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u4921_seg1 {
  position:absolute;
  left:73px;
  top:-328px;
  width:8px;
  height:332px;
}
#u4921_seg2 {
  position:absolute;
  left:0px;
  top:-328px;
  width:81px;
  height:8px;
}
#u4921_seg3 {
  position:absolute;
  left:-7px;
  top:-334px;
  width:20px;
  height:20px;
}
#u4922 {
  position:absolute;
  left:27px;
  top:-170px;
  width:100px;
  word-wrap:break-word;
}
#u4923 {
  position:absolute;
  left:448px;
  top:249px;
  width:0px;
  height:0px;
}
#u4923_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4923_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u4924 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4925 {
  position:absolute;
  left:695px;
  top:339px;
  width:100px;
  height:60px;
}
#u4926 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
