body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:532px;
}
#u10350 {
  position:absolute;
  left:25px;
  top:119px;
  width:1377px;
  height:532px;
}
#u10351 {
  position:absolute;
  left:2px;
  top:258px;
  width:1373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10352 {
  position:absolute;
  left:34px;
  top:48px;
  width:217px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10353 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u10354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:95px;
}
#u10354 {
  position:absolute;
  left:389px;
  top:464px;
  width:995px;
  height:95px;
}
#u10355 {
  position:absolute;
  left:2px;
  top:40px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:124px;
}
#u10356 {
  position:absolute;
  left:387px;
  top:340px;
  width:998px;
  height:124px;
}
#u10357 {
  position:absolute;
  left:2px;
  top:54px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10358 {
  position:absolute;
  left:511px;
  top:350px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10359 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10360 {
  position:absolute;
  left:511px;
  top:386px;
  width:150px;
  height:60px;
}
#u10361 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u10362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10362 {
  position:absolute;
  left:689px;
  top:386px;
  width:150px;
  height:60px;
}
#u10363 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u10364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10364 {
  position:absolute;
  left:869px;
  top:408px;
  width:81px;
  height:16px;
  color:#FF0000;
}
#u10365 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
