body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:532px;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:119px;
  width:1377px;
  height:532px;
  display:flex;
}
#u8897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:48px;
  width:216px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:95px;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:464px;
  width:995px;
  height:95px;
  display:flex;
}
#u8899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:124px;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:340px;
  width:998px;
  height:124px;
  display:flex;
}
#u8900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:350px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:386px;
  width:150px;
  height:60px;
  display:flex;
}
#u8902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:386px;
  width:150px;
  height:60px;
  display:flex;
}
#u8903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:408px;
  width:81px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u8904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
