body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:716px;
}
#u11273 {
  position:absolute;
  left:58px;
  top:64px;
  width:998px;
  height:716px;
}
#u11274 {
  position:absolute;
  left:2px;
  top:350px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
