body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:495px;
}
#u14485 {
  position:absolute;
  left:43px;
  top:58px;
  width:867px;
  height:495px;
}
#u14486 {
  position:absolute;
  left:2px;
  top:240px;
  width:863px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
}
#u14487 {
  position:absolute;
  left:151px;
  top:377px;
  width:98px;
  height:24px;
}
#u14488 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u14489 {
  position:absolute;
  left:151px;
  top:411px;
  width:98px;
  height:32px;
}
#u14490 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:39px;
}
#u14491 {
  position:absolute;
  left:157px;
  top:412px;
  width:58px;
  height:39px;
}
#u14492 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14493 {
  position:absolute;
  left:157px;
  top:375px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u14494 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u14495 {
  position:absolute;
  left:155px;
  top:411px;
  width:196px;
  height:1px;
  color:#FF0000;
}
#u14496 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u14497 {
  position:absolute;
  left:215px;
  top:419px;
  width:81px;
  height:31px;
}
#u14498 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
