body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:495px;
}
#u14624 {
  position:absolute;
  left:43px;
  top:58px;
  width:867px;
  height:495px;
}
#u14625 {
  position:absolute;
  left:2px;
  top:240px;
  width:863px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
}
#u14626 {
  position:absolute;
  left:151px;
  top:377px;
  width:98px;
  height:24px;
}
#u14627 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u14628 {
  position:absolute;
  left:151px;
  top:411px;
  width:98px;
  height:32px;
}
#u14629 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:39px;
}
#u14630 {
  position:absolute;
  left:157px;
  top:412px;
  width:58px;
  height:39px;
}
#u14631 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14632 {
  position:absolute;
  left:157px;
  top:375px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u14633 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u14634 {
  position:absolute;
  left:158px;
  top:418px;
  width:196px;
  height:1px;
  color:#FF0000;
}
#u14635 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u14636 {
  position:absolute;
  left:215px;
  top:419px;
  width:81px;
  height:31px;
}
#u14637 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14638 {
  position:absolute;
  left:164px;
  top:396px;
  width:9px;
  height:16px;
}
#u14639 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u14640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14640 {
  position:absolute;
  left:381px;
  top:375px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u14641 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u14642 {
  position:absolute;
  left:381px;
  top:418px;
  width:196px;
  height:1px;
  color:#FF0000;
}
#u14643 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14644 {
  position:absolute;
  left:246px;
  top:375px;
  width:0px;
  height:0px;
}
#u14644_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u14644_seg1 {
  position:absolute;
  left:-4px;
  top:-293px;
  width:8px;
  height:284px;
}
#u14644_seg2 {
  position:absolute;
  left:-4px;
  top:-293px;
  width:810px;
  height:8px;
}
#u14644_seg3 {
  position:absolute;
  left:829px;
  top:-290px;
  width:18px;
  height:18px;
}
#u14645 {
  position:absolute;
  left:225px;
  top:-297px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u14647 {
  position:absolute;
  left:238px;
  top:367px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u14648 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u14649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14650_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u14650 {
  position:absolute;
  left:1084px;
  top:87px;
  width:2px;
  height:14px;
}
#u14651 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14652 {
  position:absolute;
  left:1084px;
  top:87px;
  width:700px;
  height:118px;
  overflow:hidden;
}
#u14652_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:118px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14652_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14653 {
  position:absolute;
  left:6px;
  top:26px;
  width:649px;
  height:133px;
}
#u14654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14654 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14655 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u14656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u14656 {
  position:absolute;
  left:43px;
  top:0px;
  width:115px;
  height:36px;
}
#u14657 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u14658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u14658 {
  position:absolute;
  left:158px;
  top:0px;
  width:104px;
  height:36px;
}
#u14659 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u14660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u14660 {
  position:absolute;
  left:262px;
  top:0px;
  width:63px;
  height:36px;
}
#u14661 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u14662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u14662 {
  position:absolute;
  left:325px;
  top:0px;
  width:80px;
  height:36px;
}
#u14663 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u14664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u14664 {
  position:absolute;
  left:405px;
  top:0px;
  width:239px;
  height:36px;
}
#u14665 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u14666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:92px;
}
#u14666 {
  position:absolute;
  left:0px;
  top:36px;
  width:43px;
  height:92px;
}
#u14667 {
  position:absolute;
  left:2px;
  top:38px;
  width:39px;
  word-wrap:break-word;
}
#u14668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:92px;
}
#u14668 {
  position:absolute;
  left:43px;
  top:36px;
  width:115px;
  height:92px;
}
#u14669 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  word-wrap:break-word;
}
#u14670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:92px;
}
#u14670 {
  position:absolute;
  left:158px;
  top:36px;
  width:104px;
  height:92px;
}
#u14671 {
  position:absolute;
  left:2px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u14672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:92px;
}
#u14672 {
  position:absolute;
  left:262px;
  top:36px;
  width:63px;
  height:92px;
}
#u14673 {
  position:absolute;
  left:2px;
  top:38px;
  width:59px;
  word-wrap:break-word;
}
#u14674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:92px;
}
#u14674 {
  position:absolute;
  left:325px;
  top:36px;
  width:80px;
  height:92px;
  color:#000000;
}
#u14675 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u14676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:92px;
}
#u14676 {
  position:absolute;
  left:405px;
  top:36px;
  width:239px;
  height:92px;
  text-align:left;
}
#u14677 {
  position:absolute;
  left:2px;
  top:14px;
  width:235px;
  word-wrap:break-word;
}
#u14678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14678 {
  position:absolute;
  left:-2px;
  top:0px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14679 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14680 {
  position:absolute;
  left:470px;
  top:375px;
  width:0px;
  height:0px;
}
#u14680_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u14680_seg1 {
  position:absolute;
  left:-4px;
  top:-141px;
  width:8px;
  height:132px;
}
#u14680_seg2 {
  position:absolute;
  left:-4px;
  top:-141px;
  width:577px;
  height:8px;
}
#u14680_seg3 {
  position:absolute;
  left:596px;
  top:-138px;
  width:18px;
  height:18px;
}
#u14681 {
  position:absolute;
  left:184px;
  top:-145px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u14683 {
  position:absolute;
  left:462px;
  top:367px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u14684 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u14685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14686_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u14686 {
  position:absolute;
  left:1075px;
  top:239px;
  width:2px;
  height:14px;
}
#u14687 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14688 {
  position:absolute;
  left:1075px;
  top:239px;
  width:700px;
  height:118px;
  overflow:hidden;
}
#u14688_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:118px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14688_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14689 {
  position:absolute;
  left:6px;
  top:26px;
  width:649px;
  height:88px;
}
#u14690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14690 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14691 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u14692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u14692 {
  position:absolute;
  left:43px;
  top:0px;
  width:115px;
  height:36px;
}
#u14693 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u14694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u14694 {
  position:absolute;
  left:158px;
  top:0px;
  width:104px;
  height:36px;
}
#u14695 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u14696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u14696 {
  position:absolute;
  left:262px;
  top:0px;
  width:63px;
  height:36px;
}
#u14697 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u14698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u14698 {
  position:absolute;
  left:325px;
  top:0px;
  width:80px;
  height:36px;
}
#u14699 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u14700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u14700 {
  position:absolute;
  left:405px;
  top:0px;
  width:239px;
  height:36px;
}
#u14701 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u14702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u14702 {
  position:absolute;
  left:0px;
  top:36px;
  width:43px;
  height:47px;
}
#u14703 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  word-wrap:break-word;
}
#u14704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:47px;
}
#u14704 {
  position:absolute;
  left:43px;
  top:36px;
  width:115px;
  height:47px;
}
#u14705 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  word-wrap:break-word;
}
#u14706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:47px;
}
#u14706 {
  position:absolute;
  left:158px;
  top:36px;
  width:104px;
  height:47px;
}
#u14707 {
  position:absolute;
  left:2px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u14708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
}
#u14708 {
  position:absolute;
  left:262px;
  top:36px;
  width:63px;
  height:47px;
}
#u14709 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  word-wrap:break-word;
}
#u14710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u14710 {
  position:absolute;
  left:325px;
  top:36px;
  width:80px;
  height:47px;
  color:#000000;
}
#u14711 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u14712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u14712 {
  position:absolute;
  left:405px;
  top:36px;
  width:239px;
  height:47px;
  text-align:left;
}
#u14713 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u14714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14714 {
  position:absolute;
  left:-2px;
  top:0px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14715 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
