body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7285 {
  position:absolute;
  left:34px;
  top:48px;
  width:307px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7286 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u7287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:603px;
}
#u7287 {
  position:absolute;
  left:25px;
  top:110px;
  width:1386px;
  height:603px;
}
#u7288 {
  position:absolute;
  left:2px;
  top:294px;
  width:1382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:171px;
}
#u7289 {
  position:absolute;
  left:940px;
  top:30px;
  width:51px;
  height:170px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7290 {
  position:absolute;
  left:2px;
  top:77px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u7291 {
  position:absolute;
  left:891px;
  top:74px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u7292 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u7293 {
  position:absolute;
  left:975px;
  top:74px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u7294 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
