body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8352 {
  position:absolute;
  left:174px;
  top:70px;
  width:100px;
  height:60px;
}
#u8353 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8354 {
  position:absolute;
  left:174px;
  top:298px;
  width:100px;
  height:60px;
}
#u8355 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8356 {
  position:absolute;
  left:174px;
  top:409px;
  width:100px;
  height:60px;
}
#u8357 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8358 {
  position:absolute;
  left:329px;
  top:409px;
  width:100px;
  height:60px;
}
#u8359 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8360 {
  position:absolute;
  left:174px;
  top:182px;
  width:100px;
  height:60px;
}
#u8361 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8362 {
  position:absolute;
  left:174px;
  top:533px;
  width:100px;
  height:60px;
}
#u8363 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8364 {
  position:absolute;
  left:174px;
  top:639px;
  width:100px;
  height:60px;
}
#u8365 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8366 {
  position:absolute;
  left:319px;
  top:639px;
  width:100px;
  height:60px;
}
#u8367 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8368 {
  position:absolute;
  left:174px;
  top:747px;
  width:100px;
  height:60px;
}
#u8369 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8370 {
  position:absolute;
  left:274px;
  top:563px;
  width:0px;
  height:0px;
}
#u8370_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u8370_seg1 {
  position:absolute;
  left:91px;
  top:-4px;
  width:8px;
  height:80px;
}
#u8370_seg2 {
  position:absolute;
  left:85px;
  top:63px;
  width:20px;
  height:20px;
}
#u8371 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8372 {
  position:absolute;
  left:224px;
  top:593px;
  width:0px;
  height:0px;
}
#u8372_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u8372_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u8373 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u8374 {
  position:absolute;
  left:224px;
  top:699px;
  width:0px;
  height:0px;
}
#u8374_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u8374_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u8375 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8376 {
  position:absolute;
  left:453px;
  top:639px;
  width:100px;
  height:60px;
}
#u8377 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8378 {
  position:absolute;
  left:224px;
  top:130px;
  width:0px;
  height:0px;
}
#u8378_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u8378_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u8379 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8380 {
  position:absolute;
  left:224px;
  top:242px;
  width:0px;
  height:0px;
}
#u8380_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u8380_seg1 {
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u8381 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8382 {
  position:absolute;
  left:224px;
  top:358px;
  width:0px;
  height:0px;
}
#u8382_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u8382_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u8383 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u8384 {
  position:absolute;
  left:224px;
  top:469px;
  width:0px;
  height:0px;
}
#u8384_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u8384_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u8385 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8386 {
  position:absolute;
  left:274px;
  top:328px;
  width:0px;
  height:0px;
}
#u8386_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u8386_seg1 {
  position:absolute;
  left:101px;
  top:-4px;
  width:8px;
  height:85px;
}
#u8386_seg2 {
  position:absolute;
  left:95px;
  top:68px;
  width:20px;
  height:20px;
}
#u8387 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8388 {
  position:absolute;
  left:379px;
  top:469px;
  width:0px;
  height:0px;
}
#u8388_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u8388_seg1 {
  position:absolute;
  left:-159px;
  top:47px;
  width:163px;
  height:8px;
}
#u8388_seg2 {
  position:absolute;
  left:-159px;
  top:47px;
  width:8px;
  height:17px;
}
#u8388_seg3 {
  position:absolute;
  left:-165px;
  top:51px;
  width:20px;
  height:20px;
}
#u8389 {
  position:absolute;
  left:-108px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
