body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1633px;
  height:703px;
}
#u14418 {
  position:absolute;
  left:38px;
  top:48px;
  width:1633px;
  height:703px;
}
#u14419 {
  position:absolute;
  left:2px;
  top:344px;
  width:1629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:31px;
}
#u14420 {
  position:absolute;
  left:767px;
  top:684px;
  width:55px;
  height:31px;
}
#u14421 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14422 {
  position:absolute;
  left:767px;
  top:663px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u14423 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14424 {
  position:absolute;
  left:842px;
  top:671px;
  width:0px;
  height:0px;
}
#u14424_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u14424_seg1 {
  position:absolute;
  left:-4px;
  top:-390px;
  width:8px;
  height:381px;
}
#u14424_seg2 {
  position:absolute;
  left:-4px;
  top:-390px;
  width:871px;
  height:8px;
}
#u14424_seg3 {
  position:absolute;
  left:890px;
  top:-387px;
  width:18px;
  height:18px;
}
#u14425 {
  position:absolute;
  left:207px;
  top:-394px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u14427 {
  position:absolute;
  left:834px;
  top:663px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u14428 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u14429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14430_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u14430 {
  position:absolute;
  left:1741px;
  top:286px;
  width:2px;
  height:14px;
}
#u14431 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14432 {
  position:absolute;
  left:1741px;
  top:286px;
  width:700px;
  height:118px;
  overflow:hidden;
}
#u14432_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:118px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14432_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14433 {
  position:absolute;
  left:6px;
  top:26px;
  width:649px;
  height:88px;
}
#u14434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14434 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14435 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u14436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u14436 {
  position:absolute;
  left:43px;
  top:0px;
  width:115px;
  height:36px;
}
#u14437 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u14438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u14438 {
  position:absolute;
  left:158px;
  top:0px;
  width:104px;
  height:36px;
}
#u14439 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u14440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u14440 {
  position:absolute;
  left:262px;
  top:0px;
  width:63px;
  height:36px;
}
#u14441 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u14442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u14442 {
  position:absolute;
  left:325px;
  top:0px;
  width:80px;
  height:36px;
}
#u14443 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u14444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u14444 {
  position:absolute;
  left:405px;
  top:0px;
  width:239px;
  height:36px;
}
#u14445 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u14446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u14446 {
  position:absolute;
  left:0px;
  top:36px;
  width:43px;
  height:47px;
}
#u14447 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:47px;
}
#u14448 {
  position:absolute;
  left:43px;
  top:36px;
  width:115px;
  height:47px;
}
#u14449 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:47px;
}
#u14450 {
  position:absolute;
  left:158px;
  top:36px;
  width:104px;
  height:47px;
}
#u14451 {
  position:absolute;
  left:2px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
}
#u14452 {
  position:absolute;
  left:262px;
  top:36px;
  width:63px;
  height:47px;
}
#u14453 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u14454 {
  position:absolute;
  left:325px;
  top:36px;
  width:80px;
  height:47px;
  color:#000000;
}
#u14455 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u14456 {
  position:absolute;
  left:405px;
  top:36px;
  width:239px;
  height:47px;
  text-align:left;
}
#u14457 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14458 {
  position:absolute;
  left:-2px;
  top:0px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14459 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
