body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1633px;
  height:703px;
}
#u14544 {
  position:absolute;
  left:38px;
  top:48px;
  width:1633px;
  height:703px;
}
#u14545 {
  position:absolute;
  left:2px;
  top:344px;
  width:1629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:31px;
}
#u14546 {
  position:absolute;
  left:767px;
  top:684px;
  width:55px;
  height:31px;
}
#u14547 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14548 {
  position:absolute;
  left:767px;
  top:663px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u14549 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14550 {
  position:absolute;
  left:842px;
  top:671px;
  width:0px;
  height:0px;
}
#u14550_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u14550_seg1 {
  position:absolute;
  left:-4px;
  top:-390px;
  width:8px;
  height:381px;
}
#u14550_seg2 {
  position:absolute;
  left:-4px;
  top:-390px;
  width:871px;
  height:8px;
}
#u14550_seg3 {
  position:absolute;
  left:890px;
  top:-387px;
  width:18px;
  height:18px;
}
#u14551 {
  position:absolute;
  left:207px;
  top:-394px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u14553 {
  position:absolute;
  left:834px;
  top:663px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u14554 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u14555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14556_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u14556 {
  position:absolute;
  left:1741px;
  top:286px;
  width:2px;
  height:14px;
}
#u14557 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14558 {
  position:absolute;
  left:1741px;
  top:286px;
  width:700px;
  height:118px;
  overflow:hidden;
}
#u14558_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:118px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14558_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14559 {
  position:absolute;
  left:6px;
  top:26px;
  width:649px;
  height:88px;
}
#u14560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14560 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14561 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u14562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u14562 {
  position:absolute;
  left:43px;
  top:0px;
  width:115px;
  height:36px;
}
#u14563 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u14564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u14564 {
  position:absolute;
  left:158px;
  top:0px;
  width:104px;
  height:36px;
}
#u14565 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u14566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u14566 {
  position:absolute;
  left:262px;
  top:0px;
  width:63px;
  height:36px;
}
#u14567 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u14568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u14568 {
  position:absolute;
  left:325px;
  top:0px;
  width:80px;
  height:36px;
}
#u14569 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u14570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u14570 {
  position:absolute;
  left:405px;
  top:0px;
  width:239px;
  height:36px;
}
#u14571 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u14572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u14572 {
  position:absolute;
  left:0px;
  top:36px;
  width:43px;
  height:47px;
}
#u14573 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:47px;
}
#u14574 {
  position:absolute;
  left:43px;
  top:36px;
  width:115px;
  height:47px;
}
#u14575 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:47px;
}
#u14576 {
  position:absolute;
  left:158px;
  top:36px;
  width:104px;
  height:47px;
}
#u14577 {
  position:absolute;
  left:2px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
}
#u14578 {
  position:absolute;
  left:262px;
  top:36px;
  width:63px;
  height:47px;
}
#u14579 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:47px;
}
#u14580 {
  position:absolute;
  left:325px;
  top:36px;
  width:80px;
  height:47px;
  color:#000000;
}
#u14581 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u14582 {
  position:absolute;
  left:405px;
  top:36px;
  width:239px;
  height:47px;
  text-align:left;
}
#u14583 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14584 {
  position:absolute;
  left:-2px;
  top:0px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u14585 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
