
#u5190.mouseOver {
}
#u5190_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5190.selected {
}
#u5191 {
  position:absolute;
  left:50px;
  top:16px;
  width:179px;
  word-wrap:break-word;
}
#u5192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5192 {
  position:absolute;
  left:84px;
  top:572px;
  width:14px;
  height:14px;
}
#u5193 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u5194 {
  position:absolute;
  left:292px;
  top:440px;
  width:22px;
  height:35px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:34px;
}
#u5196 {
  position:absolute;
  left:61px;
  top:433px;
  width:22px;
  height:34px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:9px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
