body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7782 {
  position:absolute;
  left:232px;
  top:81px;
  width:100px;
  height:60px;
}
#u7783 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7784 {
  position:absolute;
  left:232px;
  top:318px;
  width:100px;
  height:60px;
}
#u7785 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:75px;
}
#u7786 {
  position:absolute;
  left:33px;
  top:311px;
  width:160px;
  height:74px;
}
#u7787 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  word-wrap:break-word;
}
#u7788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7788 {
  position:absolute;
  left:383px;
  top:318px;
  width:100px;
  height:60px;
}
#u7789 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7790 {
  position:absolute;
  left:232px;
  top:193px;
  width:100px;
  height:60px;
}
#u7791 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7792 {
  position:absolute;
  left:232px;
  top:421px;
  width:100px;
  height:60px;
}
#u7793 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7794 {
  position:absolute;
  left:232px;
  top:527px;
  width:100px;
  height:60px;
}
#u7795 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7796 {
  position:absolute;
  left:54px;
  top:32px;
  width:173px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7797 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7798 {
  position:absolute;
  left:685px;
  top:32px;
  width:173px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7799 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7800 {
  position:absolute;
  left:946px;
  top:81px;
  width:100px;
  height:60px;
}
#u7801 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7802 {
  position:absolute;
  left:944px;
  top:318px;
  width:100px;
  height:60px;
}
#u7803 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7804 {
  position:absolute;
  left:1095px;
  top:318px;
  width:100px;
  height:60px;
}
#u7805 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7806 {
  position:absolute;
  left:946px;
  top:193px;
  width:100px;
  height:60px;
}
#u7807 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7808 {
  position:absolute;
  left:944px;
  top:421px;
  width:100px;
  height:60px;
}
#u7809 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7810 {
  position:absolute;
  left:944px;
  top:527px;
  width:100px;
  height:60px;
}
#u7811 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:75px;
}
#u7812 {
  position:absolute;
  left:726px;
  top:311px;
  width:160px;
  height:74px;
}
#u7813 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  word-wrap:break-word;
}
#u7814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7814 {
  position:absolute;
  left:944px;
  top:633px;
  width:100px;
  height:60px;
}
#u7815 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7816 {
  position:absolute;
  left:1095px;
  top:521px;
  width:100px;
  height:60px;
}
#u7817 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7818 {
  position:absolute;
  left:944px;
  top:741px;
  width:100px;
  height:60px;
}
#u7819 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:75px;
}
#u7820 {
  position:absolute;
  left:726px;
  top:734px;
  width:160px;
  height:74px;
}
#u7821 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  word-wrap:break-word;
}
#u7822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7822 {
  position:absolute;
  left:944px;
  top:846px;
  width:100px;
  height:60px;
}
#u7823 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7824 {
  position:absolute;
  left:998px;
  top:253px;
  width:0px;
  height:0px;
}
#u7824_seg0 {
  position:absolute;
  left:-8px;
  top:-4px;
  width:8px;
  height:8px;
}
#u7824_seg1 {
  position:absolute;
  left:-8px;
  top:-4px;
  width:8px;
  height:69px;
}
#u7824_seg2 {
  position:absolute;
  left:-14px;
  top:52px;
  width:20px;
  height:20px;
}
#u7825 {
  position:absolute;
  left:-54px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7826 {
  position:absolute;
  left:996px;
  top:141px;
  width:0px;
  height:0px;
}
#u7826_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u7826_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u7827 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828 {
  position:absolute;
  left:1044px;
  top:348px;
  width:0px;
  height:0px;
}
#u7828_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u7828_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7829 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7830 {
  position:absolute;
  left:994px;
  top:378px;
  width:0px;
  height:0px;
}
#u7830_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u7830_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u7831 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u7832 {
  position:absolute;
  left:994px;
  top:801px;
  width:0px;
  height:0px;
}
#u7832_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u7832_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u7833 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7834 {
  position:absolute;
  left:994px;
  top:481px;
  width:0px;
  height:0px;
}
#u7834_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u7834_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u7835 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836 {
  position:absolute;
  left:1044px;
  top:557px;
  width:0px;
  height:0px;
}
#u7836_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u7836_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:8px;
  height:14px;
}
#u7836_seg2 {
  position:absolute;
  left:42px;
  top:-10px;
  width:9px;
  height:8px;
}
#u7836_seg3 {
  position:absolute;
  left:38px;
  top:-16px;
  width:20px;
  height:20px;
}
#u7837 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7838 {
  position:absolute;
  left:994px;
  top:587px;
  width:0px;
  height:0px;
}
#u7838_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u7838_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u7839 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u7840 {
  position:absolute;
  left:994px;
  top:693px;
  width:0px;
  height:0px;
}
#u7840_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u7840_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u7841 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7842 {
  position:absolute;
  left:282px;
  top:141px;
  width:0px;
  height:0px;
}
#u7842_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u7842_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u7843 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7844 {
  position:absolute;
  left:282px;
  top:253px;
  width:0px;
  height:0px;
}
#u7844_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u7844_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u7845 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7846 {
  position:absolute;
  left:332px;
  top:348px;
  width:0px;
  height:0px;
}
#u7846_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u7846_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7847 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7848 {
  position:absolute;
  left:282px;
  top:378px;
  width:0px;
  height:0px;
}
#u7848_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u7848_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u7849 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7850 {
  position:absolute;
  left:282px;
  top:481px;
  width:0px;
  height:0px;
}
#u7850_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u7850_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u7851 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7852 {
  position:absolute;
  left:232px;
  top:670px;
  width:100px;
  height:60px;
}
#u7853 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:75px;
}
#u7854 {
  position:absolute;
  left:33px;
  top:663px;
  width:160px;
  height:74px;
}
#u7855 {
  position:absolute;
  left:2px;
  top:29px;
  width:156px;
  word-wrap:break-word;
}
#u7856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7856 {
  position:absolute;
  left:232px;
  top:775px;
  width:100px;
  height:60px;
}
#u7857 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7858 {
  position:absolute;
  left:282px;
  top:730px;
  width:0px;
  height:0px;
}
#u7858_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u7858_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u7859 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:118px;
}
#u7860 {
  position:absolute;
  left:503px;
  top:499px;
  width:213px;
  height:117px;
  text-align:left;
}
#u7861 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u7862 {
  position:absolute;
  left:282px;
  top:587px;
  width:0px;
  height:0px;
}
#u7862_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u7862_seg1 {
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:20px;
}
#u7863 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u7864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7864 {
  position:absolute;
  left:383px;
  top:527px;
  width:100px;
  height:60px;
}
#u7865 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7866 {
  position:absolute;
  left:332px;
  top:557px;
  width:0px;
  height:0px;
}
#u7866_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u7866_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7867 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7868 {
  position:absolute;
  left:433px;
  top:587px;
  width:0px;
  height:0px;
}
#u7868_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:177px;
}
#u7868_seg1 {
  position:absolute;
  left:-155px;
  top:169px;
  width:159px;
  height:8px;
}
#u7868_seg2 {
  position:absolute;
  left:-155px;
  top:169px;
  width:8px;
  height:19px;
}
#u7868_seg3 {
  position:absolute;
  left:-161px;
  top:175px;
  width:20px;
  height:20px;
}
#u7869 {
  position:absolute;
  left:-50px;
  top:162px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7870 {
  position:absolute;
  left:1145px;
  top:581px;
  width:0px;
  height:0px;
}
#u7870_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u7870_seg1 {
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:237px;
}
#u7870_seg2 {
  position:absolute;
  left:-155px;
  top:230px;
  width:159px;
  height:8px;
}
#u7870_seg3 {
  position:absolute;
  left:-155px;
  top:230px;
  width:8px;
  height:35px;
}
#u7870_seg4 {
  position:absolute;
  left:-161px;
  top:252px;
  width:20px;
  height:20px;
}
#u7871 {
  position:absolute;
  left:-50px;
  top:200px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7872 {
  position:absolute;
  left:1145px;
  top:378px;
  width:0px;
  height:0px;
}
#u7872_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u7872_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:124px;
  height:8px;
}
#u7872_seg2 {
  position:absolute;
  left:112px;
  top:6px;
  width:8px;
  height:450px;
}
#u7872_seg3 {
  position:absolute;
  left:-155px;
  top:448px;
  width:275px;
  height:8px;
}
#u7872_seg4 {
  position:absolute;
  left:-155px;
  top:448px;
  width:8px;
  height:20px;
}
#u7872_seg5 {
  position:absolute;
  left:-161px;
  top:455px;
  width:20px;
  height:20px;
}
#u7873 {
  position:absolute;
  left:66px;
  top:302px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
}
#u7874 {
  position:absolute;
  left:383px;
  top:184px;
  width:161px;
  height:79px;
  text-align:left;
}
#u7875 {
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u7876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:80px;
}
#u7876 {
  position:absolute;
  left:1095px;
  top:184px;
  width:160px;
  height:79px;
  text-align:left;
}
#u7877 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
