body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:692px;
}
#u5270 {
  position:absolute;
  left:38px;
  top:61px;
  width:1022px;
  height:692px;
}
#u5271 {
  position:absolute;
  left:2px;
  top:338px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
