body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20691 {
  position:absolute;
  left:102px;
  top:92px;
  width:375px;
  height:667px;
}
#u20692 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20695 {
  position:absolute;
  left:103px;
  top:93px;
  width:373px;
  height:60px;
}
#u20696 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u20697 {
  position:absolute;
  left:124px;
  top:113px;
  width:22px;
  height:19px;
}
#u20698 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20699 {
  position:absolute;
  left:156px;
  top:112px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u20700 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u20701 {
  position:absolute;
  left:437px;
  top:113px;
  width:24px;
  height:20px;
}
#u20702 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20703 {
  position:absolute;
  left:103px;
  top:153px;
  width:387px;
  height:604px;
  overflow:hidden;
}
#u20703_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:604px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u20703_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20705 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u20706 {
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20707 {
  position:absolute;
  left:54px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u20707_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20707.mouseOver {
}
#u20707_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20707.selected {
}
#u20708 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u20709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20709 {
  position:absolute;
  left:140px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u20709_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20709.mouseOver {
}
#u20709_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20709.selected {
}
#u20710 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u20711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20711 {
  position:absolute;
  left:227px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u20711_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20711.mouseOver {
}
#u20711_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20711.selected {
}
#u20712 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u20713 {
  position:absolute;
  left:9px;
  top:42px;
  width:382px;
  height:561px;
  overflow:hidden;
}
#u20713_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u20713_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u20715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u20715 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u20716 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20718 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u20719 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u20720 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u20721 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u20722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20722 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20723 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20724 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20725 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20726 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u20727 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20728 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u20729 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u20730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u20730 {
  position:absolute;
  left:268px;
  top:9px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u20731 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u20732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20733 {
  position:absolute;
  left:13px;
  top:152px;
  width:321px;
  height:133px;
}
.u20734 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u20735 {
  position:absolute;
  left:281px;
  top:168px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u20736 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u20737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20737 {
  position:absolute;
  left:73px;
  top:179px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20738 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20739 {
  position:absolute;
  left:15px;
  top:152px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20740 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20741 {
  position:absolute;
  left:29px;
  top:216px;
  width:226px;
  height:16px;
}
.u20742 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20743 {
  position:absolute;
  left:29px;
  top:241px;
  width:187px;
  height:16px;
}
.u20744 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u20745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u20745 {
  position:absolute;
  left:273px;
  top:152px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u20746 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u20714-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:285px;
}
#u20714-2 {
  position:absolute;
  left:0px;
  top:285px;
  width:342px;
  height:285px;
}
#u20714-3 {
  position:absolute;
  left:0px;
  top:570px;
  width:342px;
  height:285px;
}
#u20714 {
  position:absolute;
  left:19px;
  top:17px;
  width:342px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u20748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
.u20748 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
.u20749 {
  position:absolute;
  left:2px;
  top:63px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20751 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u20752 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u20753 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u20754 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u20755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20755 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20756 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20757 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20758 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20759 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u20760 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20761 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u20762 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u20747-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
#u20747-2 {
  position:absolute;
  left:0px;
  top:142px;
  width:337px;
  height:142px;
}
#u20747-3 {
  position:absolute;
  left:0px;
  top:284px;
  width:337px;
  height:142px;
}
#u20747 {
  position:absolute;
  left:19px;
  top:873px;
  width:337px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20713_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u20713_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u20764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u20764 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u20765 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20767 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u20768 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20769 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20770 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20771 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20772 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20773 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u20774 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20775 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u20776 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u20777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u20777 {
  position:absolute;
  left:260px;
  top:45px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u20778 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u20779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20780 {
  position:absolute;
  left:13px;
  top:152px;
  width:321px;
  height:133px;
}
.u20781 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20782 {
  position:absolute;
  left:73px;
  top:179px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20783 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20784 {
  position:absolute;
  left:15px;
  top:152px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20785 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20786 {
  position:absolute;
  left:29px;
  top:216px;
  width:226px;
  height:16px;
}
.u20787 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20788 {
  position:absolute;
  left:29px;
  top:241px;
  width:187px;
  height:16px;
}
.u20789 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u20790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u20790 {
  position:absolute;
  left:265px;
  top:188px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u20791 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u20763-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:285px;
}
#u20763-2 {
  position:absolute;
  left:0px;
  top:285px;
  width:337px;
  height:285px;
}
#u20763-3 {
  position:absolute;
  left:0px;
  top:570px;
  width:337px;
  height:285px;
}
#u20763 {
  position:absolute;
  left:19px;
  top:17px;
  width:337px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20713_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u20713_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u20793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u20793 {
  position:absolute;
  left:0px;
  top:6px;
  width:337px;
  height:179px;
}
.u20794 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20796 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:149px;
}
.u20797 {
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20798 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20799 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20800 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20801 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20802 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u20803 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20804 {
  position:absolute;
  left:24px;
  top:98px;
  width:285px;
  height:48px;
}
.u20805 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
.u20806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u20806 {
  position:absolute;
  left:257px;
  top:36px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u20807 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u20808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20809 {
  position:absolute;
  left:5px;
  top:168px;
  width:321px;
  height:149px;
}
.u20810 {
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20811 {
  position:absolute;
  left:65px;
  top:195px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u20812 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u20813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20813 {
  position:absolute;
  left:7px;
  top:168px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u20814 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u20815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20815 {
  position:absolute;
  left:21px;
  top:232px;
  width:226px;
  height:16px;
}
.u20816 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u20817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u20817 {
  position:absolute;
  left:24px;
  top:265px;
  width:187px;
  height:16px;
}
.u20818 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u20819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u20819 {
  position:absolute;
  left:257px;
  top:204px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u20820 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u20792-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:317px;
}
#u20792-2 {
  position:absolute;
  left:0px;
  top:317px;
  width:337px;
  height:317px;
}
#u20792-3 {
  position:absolute;
  left:0px;
  top:634px;
  width:337px;
  height:317px;
}
#u20792 {
  position:absolute;
  left:19px;
  top:17px;
  width:337px;
  height:951px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20821 {
  position:absolute;
  left:476px;
  top:153px;
  width:27px;
  height:605px;
}
#u20822 {
  position:absolute;
  left:2px;
  top:294px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:605px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20824 {
  position:absolute;
  left:103px;
  top:153px;
  width:373px;
  height:605px;
  opacity:0.3;
}
#u20825 {
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20828 {
  position:absolute;
  left:103px;
  top:153px;
  width:240px;
  height:605px;
}
#u20829 {
  position:absolute;
  left:2px;
  top:294px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20830 {
  position:absolute;
  left:103px;
  top:153px;
  width:240px;
  height:170px;
}
#u20831 {
  position:absolute;
  left:2px;
  top:77px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20832 {
  position:absolute;
  left:138px;
  top:174px;
  width:60px;
  height:60px;
}
#u20833 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u20834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20834 {
  position:absolute;
  left:225px;
  top:192px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u20835 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u20836 {
  position:absolute;
  left:219px;
  top:265px;
  width:44px;
  height:44px;
}
#u20837 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u20838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u20838 {
  position:absolute;
  left:279px;
  top:265px;
  width:44px;
  height:44px;
}
#u20839 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u20840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u20840 {
  position:absolute;
  left:110px;
  top:537px;
  width:240px;
  height:1px;
}
#u20841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20845 {
  position:absolute;
  left:103px;
  top:483px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20845_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20845.mouseOver {
}
#u20845_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20845.selected {
}
#u20846 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u20847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u20847 {
  position:absolute;
  left:127px;
  top:504px;
  width:15px;
  height:14px;
}
#u20848 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20852 {
  position:absolute;
  left:103px;
  top:378px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20852_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20852.mouseOver {
}
#u20852_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20852.selected {
}
#u20853 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u20854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u20854 {
  position:absolute;
  left:127px;
  top:399px;
  width:15px;
  height:14px;
}
#u20855 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20859 {
  position:absolute;
  left:103px;
  top:537px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20859_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20859.mouseOver {
}
#u20859_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20859.selected {
}
#u20860 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u20861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u20861 {
  position:absolute;
  left:127px;
  top:558px;
  width:15px;
  height:14px;
}
#u20862 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20866 {
  position:absolute;
  left:103px;
  top:324px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20866_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20866.mouseOver {
}
#u20866_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20866.selected {
}
#u20867 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u20868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u20868 {
  position:absolute;
  left:127px;
  top:344px;
  width:15px;
  height:14px;
}
#u20869 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20873 {
  position:absolute;
  left:103px;
  top:428px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20873_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20873.mouseOver {
}
#u20873_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u20873.selected {
}
#u20874 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u20875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u20875 {
  position:absolute;
  left:127px;
  top:449px;
  width:15px;
  height:14px;
}
#u20876 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
