body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18875 {
  position:absolute;
  left:102px;
  top:92px;
  width:375px;
  height:667px;
}
#u18876 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18879 {
  position:absolute;
  left:103px;
  top:93px;
  width:373px;
  height:60px;
}
#u18880 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u18881 {
  position:absolute;
  left:124px;
  top:113px;
  width:22px;
  height:19px;
}
#u18882 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u18883 {
  position:absolute;
  left:156px;
  top:112px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u18884 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u18885 {
  position:absolute;
  left:437px;
  top:113px;
  width:24px;
  height:20px;
}
#u18886 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18887 {
  position:absolute;
  left:103px;
  top:153px;
  width:387px;
  height:604px;
  overflow:hidden;
}
#u18887_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:604px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u18887_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u18889 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u18890 {
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18891 {
  position:absolute;
  left:54px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u18891_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18891.mouseOver {
}
#u18891_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18891.selected {
}
#u18892 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u18893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18893 {
  position:absolute;
  left:140px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u18893_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18893.mouseOver {
}
#u18893_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18893.selected {
}
#u18894 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u18895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18895 {
  position:absolute;
  left:227px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u18895_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18895.mouseOver {
}
#u18895_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18895.selected {
}
#u18896 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u18897 {
  position:absolute;
  left:9px;
  top:42px;
  width:382px;
  height:561px;
  overflow:hidden;
}
#u18897_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u18897_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u18899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u18899 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u18900 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18902 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u18903 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u18904 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u18905 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u18906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18906 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18907 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18908 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18909 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18910 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u18911 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u18912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18912 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u18913 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u18914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u18914 {
  position:absolute;
  left:268px;
  top:9px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u18915 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u18916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18917 {
  position:absolute;
  left:13px;
  top:152px;
  width:321px;
  height:133px;
}
.u18918 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u18919 {
  position:absolute;
  left:281px;
  top:168px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u18920 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u18921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18921 {
  position:absolute;
  left:73px;
  top:179px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18922 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18923 {
  position:absolute;
  left:15px;
  top:152px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18924 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18925 {
  position:absolute;
  left:29px;
  top:216px;
  width:226px;
  height:16px;
}
.u18926 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u18927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18927 {
  position:absolute;
  left:29px;
  top:241px;
  width:187px;
  height:16px;
}
.u18928 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u18929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u18929 {
  position:absolute;
  left:273px;
  top:152px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u18930 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u18898-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:285px;
}
#u18898-2 {
  position:absolute;
  left:0px;
  top:285px;
  width:342px;
  height:285px;
}
#u18898-3 {
  position:absolute;
  left:0px;
  top:570px;
  width:342px;
  height:285px;
}
#u18898 {
  position:absolute;
  left:19px;
  top:17px;
  width:342px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u18932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
.u18932 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
.u18933 {
  position:absolute;
  left:2px;
  top:63px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18935 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u18936 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u18937 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u18938 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u18939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18939 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18940 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18941 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18942 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18943 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u18944 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u18945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18945 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u18946 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u18931-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
#u18931-2 {
  position:absolute;
  left:0px;
  top:142px;
  width:337px;
  height:142px;
}
#u18931-3 {
  position:absolute;
  left:0px;
  top:284px;
  width:337px;
  height:142px;
}
#u18931 {
  position:absolute;
  left:19px;
  top:873px;
  width:337px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u18897_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u18897_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u18948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u18948 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u18949 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18951 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u18952 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18953 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18954 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18955 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18956 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18957 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u18958 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u18959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18959 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u18960 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u18961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u18961 {
  position:absolute;
  left:260px;
  top:45px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u18962 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u18963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18964 {
  position:absolute;
  left:13px;
  top:152px;
  width:321px;
  height:133px;
}
.u18965 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18966 {
  position:absolute;
  left:73px;
  top:179px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18967 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18968 {
  position:absolute;
  left:15px;
  top:152px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18969 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18970 {
  position:absolute;
  left:29px;
  top:216px;
  width:226px;
  height:16px;
}
.u18971 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u18972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18972 {
  position:absolute;
  left:29px;
  top:241px;
  width:187px;
  height:16px;
}
.u18973 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u18974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u18974 {
  position:absolute;
  left:265px;
  top:188px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u18975 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u18947-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:285px;
}
#u18947-2 {
  position:absolute;
  left:0px;
  top:285px;
  width:337px;
  height:285px;
}
#u18947-3 {
  position:absolute;
  left:0px;
  top:570px;
  width:337px;
  height:285px;
}
#u18947 {
  position:absolute;
  left:19px;
  top:17px;
  width:337px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u18897_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u18897_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u18977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u18977 {
  position:absolute;
  left:0px;
  top:6px;
  width:337px;
  height:179px;
}
.u18978 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18980 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:149px;
}
.u18981 {
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18982 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18983 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18984 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18985 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18986 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u18987 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u18988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18988 {
  position:absolute;
  left:24px;
  top:98px;
  width:285px;
  height:48px;
}
.u18989 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
.u18990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u18990 {
  position:absolute;
  left:257px;
  top:36px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u18991 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u18992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u18993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18993 {
  position:absolute;
  left:5px;
  top:168px;
  width:321px;
  height:149px;
}
.u18994 {
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u18995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18995 {
  position:absolute;
  left:65px;
  top:195px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u18996 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u18997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u18997 {
  position:absolute;
  left:7px;
  top:168px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u18998 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u18999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u18999 {
  position:absolute;
  left:21px;
  top:232px;
  width:226px;
  height:16px;
}
.u19000 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19001 {
  position:absolute;
  left:24px;
  top:265px;
  width:187px;
  height:16px;
}
.u19002 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u19003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19003 {
  position:absolute;
  left:257px;
  top:204px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19004 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u18976-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:317px;
}
#u18976-2 {
  position:absolute;
  left:0px;
  top:317px;
  width:337px;
  height:317px;
}
#u18976-3 {
  position:absolute;
  left:0px;
  top:634px;
  width:337px;
  height:317px;
}
#u18976 {
  position:absolute;
  left:19px;
  top:17px;
  width:337px;
  height:951px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u19005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19005 {
  position:absolute;
  left:476px;
  top:153px;
  width:27px;
  height:605px;
}
#u19006 {
  position:absolute;
  left:2px;
  top:294px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:605px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19008 {
  position:absolute;
  left:103px;
  top:153px;
  width:373px;
  height:605px;
  opacity:0.3;
}
#u19009 {
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19012 {
  position:absolute;
  left:103px;
  top:153px;
  width:240px;
  height:605px;
}
#u19013 {
  position:absolute;
  left:2px;
  top:294px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19014 {
  position:absolute;
  left:103px;
  top:153px;
  width:240px;
  height:170px;
}
#u19015 {
  position:absolute;
  left:2px;
  top:77px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19016 {
  position:absolute;
  left:138px;
  top:174px;
  width:60px;
  height:60px;
}
#u19017 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u19018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19018 {
  position:absolute;
  left:225px;
  top:192px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u19019 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u19020 {
  position:absolute;
  left:219px;
  top:265px;
  width:44px;
  height:44px;
}
#u19021 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u19022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u19022 {
  position:absolute;
  left:279px;
  top:265px;
  width:44px;
  height:44px;
}
#u19023 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u19024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u19024 {
  position:absolute;
  left:110px;
  top:537px;
  width:240px;
  height:1px;
}
#u19025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19029 {
  position:absolute;
  left:103px;
  top:483px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19029_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19029.mouseOver {
}
#u19029_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19029.selected {
}
#u19030 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19031 {
  position:absolute;
  left:127px;
  top:504px;
  width:15px;
  height:14px;
}
#u19032 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19036 {
  position:absolute;
  left:103px;
  top:378px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19036_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19036.mouseOver {
}
#u19036_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19036.selected {
}
#u19037 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19038 {
  position:absolute;
  left:127px;
  top:399px;
  width:15px;
  height:14px;
}
#u19039 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19043 {
  position:absolute;
  left:103px;
  top:537px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19043_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19043.mouseOver {
}
#u19043_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19043.selected {
}
#u19044 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19045 {
  position:absolute;
  left:127px;
  top:558px;
  width:15px;
  height:14px;
}
#u19046 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19050 {
  position:absolute;
  left:103px;
  top:324px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19050_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19050.mouseOver {
}
#u19050_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19050.selected {
}
#u19051 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19052 {
  position:absolute;
  left:127px;
  top:344px;
  width:15px;
  height:14px;
}
#u19053 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19057 {
  position:absolute;
  left:103px;
  top:428px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19057_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19057.mouseOver {
}
#u19057_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19057.selected {
}
#u19058 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19059 {
  position:absolute;
  left:127px;
  top:449px;
  width:15px;
  height:14px;
}
#u19060 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
