body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19329 {
  position:absolute;
  left:102px;
  top:92px;
  width:375px;
  height:667px;
}
#u19330 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19333 {
  position:absolute;
  left:103px;
  top:93px;
  width:373px;
  height:60px;
}
#u19334 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u19335 {
  position:absolute;
  left:124px;
  top:113px;
  width:22px;
  height:19px;
}
#u19336 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19337 {
  position:absolute;
  left:156px;
  top:112px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u19338 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u19339 {
  position:absolute;
  left:437px;
  top:113px;
  width:24px;
  height:20px;
}
#u19340 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19341 {
  position:absolute;
  left:103px;
  top:153px;
  width:387px;
  height:604px;
  overflow:hidden;
}
#u19341_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:604px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19341_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19343 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u19344 {
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19345 {
  position:absolute;
  left:54px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u19345_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19345.mouseOver {
}
#u19345_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19345.selected {
}
#u19346 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u19347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19347 {
  position:absolute;
  left:140px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u19347_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19347.mouseOver {
}
#u19347_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19347.selected {
}
#u19348 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u19349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19349 {
  position:absolute;
  left:227px;
  top:0px;
  width:87px;
  height:40px;
  font-size:12px;
}
#u19349_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19349.mouseOver {
}
#u19349_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19349.selected {
}
#u19350 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u19351 {
  position:absolute;
  left:9px;
  top:42px;
  width:382px;
  height:561px;
  overflow:hidden;
}
#u19351_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19351_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u19353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u19353 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u19354 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19356 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u19357 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u19358 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u19359 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u19360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19360 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19361 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19362 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19363 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19364 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u19365 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19366 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u19367 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u19368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19368 {
  position:absolute;
  left:268px;
  top:9px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19369 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u19370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19371 {
  position:absolute;
  left:13px;
  top:152px;
  width:321px;
  height:133px;
}
.u19372 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u19373 {
  position:absolute;
  left:281px;
  top:168px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u19374 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u19375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19375 {
  position:absolute;
  left:73px;
  top:179px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19376 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19377 {
  position:absolute;
  left:15px;
  top:152px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19378 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19379 {
  position:absolute;
  left:29px;
  top:216px;
  width:226px;
  height:16px;
}
.u19380 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19381 {
  position:absolute;
  left:29px;
  top:241px;
  width:187px;
  height:16px;
}
.u19382 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u19383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19383 {
  position:absolute;
  left:273px;
  top:152px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19384 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u19352-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:285px;
}
#u19352-2 {
  position:absolute;
  left:0px;
  top:285px;
  width:342px;
  height:285px;
}
#u19352-3 {
  position:absolute;
  left:0px;
  top:570px;
  width:342px;
  height:285px;
}
#u19352 {
  position:absolute;
  left:19px;
  top:17px;
  width:342px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u19386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
.u19386 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
.u19387 {
  position:absolute;
  left:2px;
  top:63px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19389 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u19390 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
.u19391 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:102px;
  font-size:16px;
  color:#FFFFFF;
}
.u19392 {
  position:absolute;
  left:2px;
  top:32px;
  width:39px;
  word-wrap:break-word;
}
.u19393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19393 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19394 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19395 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19396 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19397 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u19398 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19399 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u19400 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u19385-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:142px;
}
#u19385-2 {
  position:absolute;
  left:0px;
  top:142px;
  width:337px;
  height:142px;
}
#u19385-3 {
  position:absolute;
  left:0px;
  top:284px;
  width:337px;
  height:142px;
}
#u19385 {
  position:absolute;
  left:19px;
  top:873px;
  width:337px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u19351_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19351_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u19402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u19402 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u19403 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19405 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:133px;
}
.u19406 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19407 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19408 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19409 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19410 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19411 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u19412 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19413 {
  position:absolute;
  left:24px;
  top:98px;
  width:187px;
  height:16px;
}
.u19414 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u19415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19415 {
  position:absolute;
  left:260px;
  top:45px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19416 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u19417 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19418 {
  position:absolute;
  left:13px;
  top:152px;
  width:321px;
  height:133px;
}
.u19419 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19420 {
  position:absolute;
  left:73px;
  top:179px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19421 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19422 {
  position:absolute;
  left:15px;
  top:152px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19423 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19424 {
  position:absolute;
  left:29px;
  top:216px;
  width:226px;
  height:16px;
}
.u19425 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19426 {
  position:absolute;
  left:29px;
  top:241px;
  width:187px;
  height:16px;
}
.u19427 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u19428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19428 {
  position:absolute;
  left:265px;
  top:188px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19429 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u19401-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:285px;
}
#u19401-2 {
  position:absolute;
  left:0px;
  top:285px;
  width:337px;
  height:285px;
}
#u19401-3 {
  position:absolute;
  left:0px;
  top:570px;
  width:337px;
  height:285px;
}
#u19401 {
  position:absolute;
  left:19px;
  top:17px;
  width:337px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u19351_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:561px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19351_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u19431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:179px;
}
.u19431 {
  position:absolute;
  left:0px;
  top:6px;
  width:337px;
  height:179px;
}
.u19432 {
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19434 {
  position:absolute;
  left:8px;
  top:9px;
  width:321px;
  height:149px;
}
.u19435 {
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19436 {
  position:absolute;
  left:68px;
  top:36px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19437 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 255, 102, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19438 {
  position:absolute;
  left:10px;
  top:9px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19439 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19440 {
  position:absolute;
  left:24px;
  top:73px;
  width:226px;
  height:16px;
}
.u19441 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19442 {
  position:absolute;
  left:24px;
  top:98px;
  width:285px;
  height:48px;
}
.u19443 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
.u19444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19444 {
  position:absolute;
  left:257px;
  top:36px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19445 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
.u19446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u19447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19447 {
  position:absolute;
  left:5px;
  top:168px;
  width:321px;
  height:149px;
}
.u19448 {
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19449 {
  position:absolute;
  left:65px;
  top:195px;
  width:165px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
.u19450 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
.u19451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u19451 {
  position:absolute;
  left:7px;
  top:168px;
  width:41px;
  height:46px;
  color:#FFFFFF;
}
.u19452 {
  position:absolute;
  left:-7px;
  top:15px;
  width:55px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
.u19453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19453 {
  position:absolute;
  left:21px;
  top:232px;
  width:226px;
  height:16px;
}
.u19454 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
.u19455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19455 {
  position:absolute;
  left:24px;
  top:265px;
  width:187px;
  height:16px;
}
.u19456 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
.u19457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
.u19457 {
  position:absolute;
  left:257px;
  top:204px;
  width:61px;
  height:61px;
  opacity:0.8;
}
.u19458 {
  position:absolute;
  left:-9px;
  top:22px;
  width:79px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:39.5px 8.5px;
  -ms-transform-origin:39.5px 8.5px;
  -moz-transform-origin:39.5px 8.5px;
  -webkit-transform-origin:39.5px 8.5px;
}
#u19430-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:317px;
}
#u19430-2 {
  position:absolute;
  left:0px;
  top:317px;
  width:337px;
  height:317px;
}
#u19430-3 {
  position:absolute;
  left:0px;
  top:634px;
  width:337px;
  height:317px;
}
#u19430 {
  position:absolute;
  left:19px;
  top:17px;
  width:337px;
  height:951px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u19459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19459 {
  position:absolute;
  left:476px;
  top:153px;
  width:27px;
  height:605px;
}
#u19460 {
  position:absolute;
  left:2px;
  top:294px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:605px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19462 {
  position:absolute;
  left:103px;
  top:153px;
  width:373px;
  height:605px;
  opacity:0.3;
}
#u19463 {
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19466 {
  position:absolute;
  left:103px;
  top:153px;
  width:240px;
  height:605px;
}
#u19467 {
  position:absolute;
  left:2px;
  top:294px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19468 {
  position:absolute;
  left:103px;
  top:153px;
  width:240px;
  height:170px;
}
#u19469 {
  position:absolute;
  left:2px;
  top:77px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19470 {
  position:absolute;
  left:138px;
  top:174px;
  width:60px;
  height:60px;
}
#u19471 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u19472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19472 {
  position:absolute;
  left:225px;
  top:192px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u19473 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u19474 {
  position:absolute;
  left:219px;
  top:265px;
  width:44px;
  height:44px;
}
#u19475 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u19476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u19476 {
  position:absolute;
  left:279px;
  top:265px;
  width:44px;
  height:44px;
}
#u19477 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u19478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u19478 {
  position:absolute;
  left:110px;
  top:537px;
  width:240px;
  height:1px;
}
#u19479 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19481 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19483 {
  position:absolute;
  left:103px;
  top:483px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19483_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19483.mouseOver {
}
#u19483_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19483.selected {
}
#u19484 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19485 {
  position:absolute;
  left:127px;
  top:504px;
  width:15px;
  height:14px;
}
#u19486 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19490 {
  position:absolute;
  left:103px;
  top:378px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19490_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19490.mouseOver {
}
#u19490_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19490.selected {
}
#u19491 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19492 {
  position:absolute;
  left:127px;
  top:399px;
  width:15px;
  height:14px;
}
#u19493 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19497 {
  position:absolute;
  left:103px;
  top:537px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19497_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19497.mouseOver {
}
#u19497_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19497.selected {
}
#u19498 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19499 {
  position:absolute;
  left:127px;
  top:558px;
  width:15px;
  height:14px;
}
#u19500 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19504 {
  position:absolute;
  left:103px;
  top:324px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19504_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19504.mouseOver {
}
#u19504_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19504.selected {
}
#u19505 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19506 {
  position:absolute;
  left:127px;
  top:344px;
  width:15px;
  height:14px;
}
#u19507 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19509 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19511 {
  position:absolute;
  left:103px;
  top:428px;
  width:240px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19511_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19511.mouseOver {
}
#u19511_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u19511.selected {
}
#u19512 {
  position:absolute;
  left:50px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u19513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u19513 {
  position:absolute;
  left:127px;
  top:449px;
  width:15px;
  height:14px;
}
#u19514 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
